# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon.groupby("Legendary")["#"].count()

Legendary
False    735
True      65
Name: #, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
# Your code here:

display("MEAN",pokemon.groupby("Legendary")["Total"].mean())
display("STANDARD DEVIATION",pokemon.groupby("Legendary")["Total"].std())

'MEAN'

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

'STANDARD DEVIATION'

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [41]:
# Your code here:
from scipy.stats import ttest_ind
pok=pokemon.groupby("Legendary")["Total"].apply(pd.DataFrame)
no_leg_punt=np.array(pok[list(pok.columns)[0]].dropna())
leg_punt=np.array(pok[list(pok.columns)[1]].dropna())
ttest_ind(leg_punt,no_leg_punt,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#Rechazo Ho, no son iguales

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [44]:
# Your code here:
pokemon.groupby("Type 1")["#"].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [53]:
# Your code here:
pokemon2=pokemon.copy()
def waterOrOther(x):
    if "Water" in str(x): return str(x)
    else: return "Other"
pokemon2["Type 1-W/O"]= pokemon2["Type 1"].apply(waterOrOther)

display("MEAN",pokemon2.groupby("Type 1-W/O")["Total"].mean())
display("STANDARD DEVIATION",pokemon2.groupby("Type 1-W/O")["Total"].std())

'MEAN'

Type 1-W/O
Other    435.859012
Water    430.455357
Name: Total, dtype: float64

'STANDARD DEVIATION'

Type 1-W/O
Other    121.091682
Water    113.188266
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
# Your code here:
pok=pokemon2.groupby("Type 1-W/O")["Total"].apply(pd.DataFrame)
pok_type_other=np.array(pok["Other"].dropna())
pok_type_water=np.array(pok["Water"].dropna())
ttest_ind(pok_type_other,pok_type_water)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

# P_valor>0.05 con un 95% de confianza no podemos rechazar Ho
# No podemos decir que las medias de cada uno sean diferentes

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [57]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(np.array(pokemon["Attack"]),np.array(pokemon["Defense"]))

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# Al ser el p-valor muy alto no podemos rechazar la hipotesis nula
# no podemos afirmar que haya una diferencia significante entre ellas

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [58]:
# Your code here:
ttest_rel(np.array(pokemon["Sp. Atk"]),np.array(pokemon["Sp. Def"]))

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# Al ser el p-valor muy alto no podemos rechazar la hipotesis nula
# no podemos afirmar que haya una diferencia significante entre ellas
# con un intervalo de confianza del 95%

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [59]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp( np.array(pokemon["Attack"])-np.array(pokemon["Defense"]),0)
#Como el p_valor es muy grande no podemos rechazar que la diferencia entre
# las medias sean igual a 0, es decir, que sean iguales

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [69]:
leg_wat_other=pd.crosstab(pokemon2["Legendary"],pokemon2["Type 1-W/O"])
leg_wat_other

Type 1-W/O  Other  Water
Legendary
False         627    108
True           61      4

In [73]:
from scipy.stats import chi2_contingency

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [76]:
# Your code here:

chi2_contingency(leg_wat_other,correction=False)

(3.617455159932616, 0.0571762700873503, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

#P_valor> 0.05 con un 95% de confianza no podemos rechazar la hipotesis
# sin embargo a partir del 94% de confianza ya podriamos rechazarla