# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon[pokemon['Legendary']==True].count()

#             65
Name          65
Type 1        65
Type 2        40
Total         65
HP            65
Attack        65
Defense       65
Sp. Atk       65
Sp. Def       65
Speed         65
Generation    65
Legendary     65
dtype: int64

In [5]:
pokemon[pokemon['Legendary']==False].count()

#             735
Name          735
Type 1        735
Type 2        374
Total         735
HP            735
Attack        735
Defense       735
Sp. Atk       735
Sp. Def       735
Speed         735
Generation    735
Legendary     735
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
yes_legendary = pokemon[pokemon['Legendary']==True]
no_legendary = pokemon[pokemon['Legendary']==False]
mean_legendary = yes_legendary['Total'].mean()
mean_no_legendary = no_legendary['Total'].mean()
std_no_legendary = no_legendary['Total'].std()
std_yes_legendary = yes_legendary['Total'].std()


print(mean_legendary, mean_no_legendary,std_no_legendary, std_yes_legendary)

637.3846153846154 417.21360544217686 106.76041745713005 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [165]:
# Your code here:
from scipy import stats

stats.ttest_ind(no_legendary['Total'],yes_legendary['Total'], equal_var = False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [64]:
# Se rechaza la hip√≠tesis nula.
#Hay una diferencia significativa entre los dos grupos y, por tanto, son independientes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [115]:
# Your code here:
pokemon['Type 1'].value_counts()
pokemon[pokemon['Type 1']!='Water'].count()

#             688
Name          688
Type 1        688
Type 2        361
Total         688
HP            688
Attack        688
Defense       688
Sp. Atk       688
Sp. Def       688
Speed         688
Generation    688
Legendary     688
dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [160]:
# Your code here:
water = pokemon[pokemon['Type 1']=='Water']
mean_water = water['Total'].mean()
std_water = water['Total'].std()

no_water = pokemon[pokemon['Type 1']!='Water']
mean_no_water = no_water['Total'].mean()
std_no_water = no_water['Total'].std()

print(mean_water, mean_no_water, std_water, std_no_water)

430.45535714285717 435.85901162790697 113.1882660643146 121.0916823020807

In [161]:
water.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [162]:
# Your code here:

stats.ttest_ind(water['Total'],no_water['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:

# No se rechaza la hip√≥tesis nula y no hay una diferencia significativa entre los dos grupos,
# son dependientes

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [219]:
# Your code here:

pokemon_attack=pokemon['Attack']
pokemon_defense=pokemon['Defense']

stats.ttest_rel(pokemon_attack, pokemon_defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [220]:
# La hip√≥tesis nula no se rechaza. No hay una diferencia significativa entre las muestras

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [221]:
print(pokemon['Sp. Atk'].mean(), pokemon['Sp. Def'].mean())

72.82 71.9025

In [222]:
# Your code here:

special_attack=pokemon['Sp. Atk']
special_defense=pokemon['Sp. Def']

stats.ttest_rel(special_attack, special_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [223]:
# La hip√≥tesis no se rechaza. No hay una diferencia significativa entre las muestras.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [224]:
stats.ttest_1samp(pokemon_attack - pokemon_defense, 0)

#The results are the same.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [225]:
# Your code here:

table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water')

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [243]:
# Your code here:
from scipy.stats import chi2_contingency

stat, p, dof, expected = chi2_contingency(table, correction=False)
print(stat)
print(p)

3.617455159932616
0.0571762700873503

Based on a 95% confidence, should we reject the null hypothesis?

In [244]:
# No se rechaza la hip√≥tesis nula, hay una relaci√≥n de dependencia.