# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [43]:
# import numpy and pandas
import numpy as np 
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [22]:
# Your code here:
legendary_si = pokemon[pokemon['Legendary']==True]
legendary_no = pokemon[pokemon['Legendary']==False]
media_by_legen = pokemon.groupby('Legendary').Total.mean()
desviacion_by_legen = pokemon.groupby('Legendary').Total.std()
media_by_legen, desviacion_by_legen

(Legendary
 False    417.213605
 True     637.384615
 Name: Total, dtype: float64, Legendary
 False    106.760417
 True      60.937389
 Name: Total, dtype: float64)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
# Your code here:
stats.ttest_ind(legendary_no.Total, legendary_si.Total, equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [26]:
# Your conclusions here:
# Hay una diferencia significativa entre ambas por lo que son variables independientes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [40]:
# Your code here:
#pokemon.groupby('Type 1').mean()
water_p = pokemon[pokemon['Type 1']=='Water']
#water_p.mean()
no_water_p = pokemon[pokemon['Type 1']!='Water']

Media_types = pokemon.groupby('Type 1').Total.mean()
Desviacion_types = pokemon.groupby('Type 1').Total.std()
Media_types, Desviacion_types

(Type 1
 Bug         378.927536
 Dark        445.741935
 Dragon      550.531250
 Electric    443.409091
 Fairy       413.176471
 Fighting    416.444444
 Fire        458.076923
 Flying      485.000000
 Ghost       439.562500
 Grass       421.142857
 Ground      437.500000
 Ice         433.458333
 Normal      401.683673
 Poison      399.142857
 Psychic     475.947368
 Rock        453.750000
 Steel       487.703704
 Water       430.455357
 Name: Total, dtype: float64, Type 1
 Bug         117.875223
 Dark        109.126217
 Dragon      146.267538
 Electric    105.721952
 Fairy       123.781680
 Fighting    102.464378
 Fire        109.760496
 Flying      161.400124
 Ghost       110.072685
 Grass       106.650626
 Ground      123.913081
 Ice         108.281027
 Normal      115.733038
 Poison       92.358687
 Psychic     139.026645
 Rock        108.059227
 Steel       115.420907
 Water       113.188266
 Name: Total, dtype: float64)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [41]:
# Your code here:
stats.ttest_ind(water_p.Total, no_water_p.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [42]:
# Your conclusions here:
# Hay una diferencia no significativa entre ambas por lo que son variables dependientes.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [45]:
# Your code here:

stats.ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [46]:
# Your conclusions here:
# Hay una diferencia significativa entre ambas por lo que son variables independientes.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [49]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [50]:
# Your conclusions here:
# La diferencia entre ambas columnas no es significativa por lo que son variables dependientes.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [53]:
# Your code here:
stats.ttest_1samp(pokemon.Attack-pokemon.Defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [64]:
# Your code here:
observed = pd.crosstab(pokemon.Legendary, pokemon['Type 1']=='Water')
observed

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [90]:
# Your code here:
stat, p_value, dof, ex = stats.chi2_contingency(observed, correction=True)
#dof = observed.size - sum(observed.shape) + observed.ndim - 1
#print ('Estadístico: '+stat)
print('Estadístico {}'.format(stat))
print('p_valor {}'.format(p_value))
print('Grado de libertad: {}'.format(dof))
print('Esperado: {}'.format(ex))

Estadístico 2.9429200762850503
p_valor 0.08625467249550949
Grado de libertad: 1
Esperado: [[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [20]:
# Your answer here:
# La diferencia entre ambas columnas no es significativa por lo que son variables dependientes.