# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
display(pokemon.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendaries = pokemon.loc[pokemon['Legendary'] == True]
legendaries.head()
print('Legendaries average attack:', legendaries['Total'].mean())
print('Legendaries std attack', legendaries['Total'].std())

nonlegendaries = pokemon.loc[pokemon['Legendary'] == False]
nonlegendaries
print('Non-legendaries average attack:', nonlegendaries['Total'].mean())
print('Non-legendaries std attack', nonlegendaries['Total'].std())

Legendaries average attack: 637.3846153846154
Legendaries std attack 60.93738905315344
Non-legendaries average attack: 417.21360544217686
Non-legendaries std attack 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
ttest_ind(legendaries['Total'], nonlegendaries['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
#We reject the null hypothesis since the pvalue is showing values are not dependant. 

#if we set the same tables to compare (both legendaries), pvalue will be =1 hence fully dependant. Data values are totally related with theirself

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
water = pokemon.loc[pokemon['Type 1'] == 'Water']
water.head()

water_mean = water.mean()
water_deviation = water.std()
# print('Water average attack:\n', water.mean())
# print('\n\nWater std attack\n', water.std())


non_water = pokemon.loc[pokemon['Type 1'] != 'Water']
nonwater_mean = non_water.mean()
nonwater_deviation = non_water.std()
# print('\n\nNon-water average attack:\n', non_water.mean())
# print('\n\nNon-water std attack\n', non_water.std())


difference_water_nonwater_means = nonwater_mean - water_mean
print('Difference between means water and non water pokemons:\n\n', difference_water_nonwater_means)

difference_water_nonwater_deviation = nonwater_deviation - water_deviation

print('\n\nDifference between deviations water and non water pokemons:\n\n', difference_water_nonwater_deviation)

Difference between means water and non water pokemons:

 #             69.447051
Total          5.403654
HP            -3.260174
Attack         5.638912
Defense        1.041944
Sp. Atk       -2.316860
Sp. Def        1.610050
Speed          2.689784
Generation     0.542566
Legendary      0.052949
dtype: float64


Difference between deviations water and non water pokemons:

 #             21.487991
Total          7.903416
HP            -2.292727
Attack         4.647959
Defense        3.946124
Sp. Atk        4.262409
Sp. Def       -0.721201
Speed          6.906554
Generation     0.107319
Legendary      0.098052
dtype: float64

In [10]:
total_mean_water = water['Total'].mean()
print(total_mean_water)

total_mean_nonwater = non_water['Total'].mean()
print(total_mean_nonwater)

430.45535714285717
435.85901162790697

In [25]:
print(non_water['Total'].isnull().sum(axis = 0))
print(water['Total'].isnull().sum(axis = 0))

0
0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [27]:
ttest_ind(non_water['Total'],water['Total'], equal_var=True, nan_policy ='omit')

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [28]:
#In this case we do not reject the null hypothesis since the pvalue is quite high showing a relevant relation between the means from water and non-water pokemon. They are not independent

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. **Our hypothesis is that the defense and attack scores are equal.**In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
from scipy.stats import ttest_rel
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Describe the results of the test in the cell below.

In [36]:
ttest_rel(pokemon['Defense'],pokemon['Attack'], nan_policy ='omit')

#The pvalue is quite low, so we can reject the null hypothesis. There is no a dependence between the values.

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# Calculates the T-test on TWO RELATED samples of scores, a and b.
# If we observe a large p-value, for example greater than 0.05 or 0.1 then we cannot reject the null hypothesis of 
# identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null 
# hypothesis of equal averages. Small p-values are associated with large t-statistics.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [37]:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'], nan_policy ='omit')

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
#In this case the pvalue is high, so we cannot reject the null hypothesis. There might be a dependence between the values.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [47]:
from scipy.stats import ttest_1samp   

difference_atk_def = pokemon['Defense'] - pokemon['Attack']

ttest_1samp(difference_atk_def, 0, nan_policy ='omit')

#We do not reject the null hypothesis.

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [86]:
contingency_matrix = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
display(contingency_matrix)

contingency_matrix_sum = pd.DataFrame(contingency_matrix.sum(axis = 1))
display(contingency_matrix_sum)

matrix = contingency_matrix[[ 'Water']].copy()
display(matrix)

contingency_matrix_sum_fin = contingency_matrix_sum.subtract(matrix, axis='columns').dropna()
contingency_matrix_sum_fin

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

             0
Legendary
False      735
True        65

Type 1     Water
Legendary
False        108
True           4

Empty DataFrame
Columns: [0, Water]
Index: []

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], dropna = True).sort_values(by=['Hourly'], ascending=False)

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: