# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [13]:
# import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd
import re

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [2]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [6]:
prophet_c = prophet[568:]

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [64]:
print(prophet_c[0:10])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [65]:
#The function described wouldn't work as it's only valid for cases in which the referenece is at the end of the
# string (i.e "hola{7}"). However, the original texts has more varieties for which the function wouldn't work:
test = [x for x in prophet_c if len(re.findall('{',x))>0]
print (test)

['the{7}', '{8}Long\nwere', 'and\n{9}the', '{10}And', '{11}Shall', '{12}he\nhimself', 'spirit,\n{13}and', '{14}And\nshe', 'I\n{15}speak', 'and\n{16}caresses', '{17}your', '{18}To\nknow', '*****\n\n{19}Then', '{20}Sing', '*****\n\n{21}And', '{22}For\nlife', '*****\n\n{23}Then', 'the\n{24}much', 'for\n{25}one', 'rend\n{26}their', '*****\n\n{27}Then', 'consumed.\n{28}For', 'wine,\n{29}let', 'winepress.\n\n*****\n*****\n\n{30}', 'dream,\n{31}assigned', 'bind\n{32}yourself', '{33}And', '{34}And', '*****\n\n{35}Then', 'in\n{36}your', '*****\n\n{37}Then', 'you\n{38}might', 'that\n{39}enters', 'that\n{40}covers', '*****\n\n{41}And', '{42}Forget', '*****\n\n{43}And', '{44}And\nsuffer', '*****\n\n{45}Then', 'serpent.\n{46}But', '{47}So', 'is\n{48}the', 'the\n{49}fruitless,', '{50}And', '*****\n\n{51}Then', '{52}What', 'what\n{53}images', '*****\n\n{54}And', 'your\n{55}nights', 'would\n{56}dethrone,', '*****\n\n{57}And', '{58}For', 'the\n{59}mighty', '*****\n\n{60}And', '{61}within', '*****\n\n{62}And', 'your\n{63}knowledge', '*****\n\n{64}Then', 'it.\n{65}And', '*****\n\n{66}And', '{67}And', '*****\n\n{68}And', 'and\n{69}without', '*****\n\n{70}And', 'space.\n{71}Who', '*****\n\n{72}And', '{73}You', '{74}Even', 'to\n{75}him', '*****\n\n{76}Then', 'very\n{77}hour,', 'mountains.\n{78}But', '*****\n\n{79}Then', '{80}I', '{81}they', '{82}sweet\nmusic', '*****\n\n{83}And', '{84}Her', '{85}All', 'veil.\n{86}Beauty', '*****\n\n{87}And', '{88}He\nwho', '{89}For', '*****\n\n{90}Then', '{91}Your', 'dance.\n{92}And', '{93}Even', 'emptiness;\n{94}And', 'the\n{95}bending', '{96}His\nmight', 'offended.\n{97}Think', 'days.\n{98}It', '0125]\n\n{99}And', '{100}Verily', '{101}Why', 'doubter;\n{102}For', 'crystal.\n{103}And', '{104}And', '{105}Now', '{106}You', 'after\n{107}the']

In [66]:
def reference(x):
    return re.sub('{\w}','',x)

'''
I've chosen a different approach and decided to use regex. The function describer in the statement wouldn't work in
all cases. Especifically in cases where the reference is embedded between other characters or at the beggining of 
the string:
            "hola{7}"--OK
            "{7}hola"--NOK
            "ho{7}la"--NOK

'''
#TESTS:
print(reference('adasdas{x}'))
print(reference('{x}asdasdad'))
print(reference('asdads{x}zxadas'))

adasdas
asdasdad
asdadszxadas

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [67]:
# Your code here:
prophet_reference = list(map(reference,prophet_c))
print(prophet_reference[:10])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [68]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    return x.split("\n")
#TESTS:
print(line_break("sadad\nadad"))
print(line_break("\nadad"))
print(line_break("sadad\n"))

['sadad', 'adad']
['', 'adad']
['sadad', '']

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [69]:
prophet_line = list(map(line_break,prophet_reference))
print(prophet_line[:10])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto']]

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [70]:
# Your code here:
prophet_flat = [y for x in prophet_line for y in x]
print(prophet_flat[:10])

['PROPHET', '', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who', 'was']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [71]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    return x not in word_list

#TESTS:
print(word_filter("and"))
print(word_filter("an"))
print(word_filter("andr√©s"))
print(word_filter("the"))
print(word_filter("Anthem"))
print(word_filter("And")) #aja!

False
False
True
False
True
True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [72]:
prophet_filter = list(filter(word_filter,prophet_flat))
print(prophet_filter[0:10])
print(len(prophet_filter))

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his']
14635

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [73]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    l=x.lower()
    return l not in word_list

#TESTS:
print(word_filter_case("and"))
print(word_filter_case("AND"))
print(word_filter_case("An"))
print(word_filter_case("the"))
print(word_filter_case("tHe"))

False
False
False
False
False

In [74]:
prophet_filter2 = list(filter(word_filter_case,prophet_flat))
print(len(prophet_filter2))

14342

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [75]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # Your code here:
    return a+" "+b

#TEST:
print(concat_space("Funciona", "bien"))

Funciona bien

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [76]:
prophet_string = reduce(concat_space,prophet_filter2)
print (prophet_string[:200])

PROPHET  |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth.  in twelfth year, o

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [77]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [78]:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [80]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    return x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [81]:
pm25_hourly = pm25[["Iws","Is","Ir"]].apply(hourly)

pm25_hourly.head()

        Iws   Is   Ir
0  0.074583  0.0  0.0
1  0.205000  0.0  0.0
2  0.279583  0.0  0.0
3  0.410000  0.0  0.0
4  0.540417  0.0  0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [86]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    return np.std(x)/(x.count()-1)

In [87]:
test = pm25._get_numeric_data().apply(sample_sd)
test

No       0.288682
year     0.000032
month    0.000079
day      0.000201
hour     0.000158
pm2.5    0.002204
DEWP     0.000329
TEMP     0.000278
PRES     0.000234
Iws      0.001141
Is       0.000017
Ir       0.000032
dtype: float64