### First of all, I will import all necessary libraries (including matplotlib, as I might need it later):

In [11]:
import pandas as pd
import numpy as np
import matplotlib as mp

### I downloaded and unzipped the .csv file on the same folder as the project notebook. In order to import it we need to set the **"engine"** argument of the **pd.read_csv** function to *"python"*.

In [2]:
sharks=pd.read_csv('./GSAF5.csv',sep=",",engine='python')

print(f"The df has {sharks.shape[0]} rows and {sharks.shape[1]} columns. It looks like this:")
sharks.head(3)

The df has 5992 rows and 24 columns. It looks like this:

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN

### Let's see the types of each variable (column) in our data set:

In [3]:
sharks.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

### Most variables have an "object" type (strings). I'll need to correct those types later in order to make a proper analysis of the data, especially for the "year","date","age" which will need to be changed to "int64" type (integer). 
### Now, let's look for missing values:

In [4]:
sharks.copy().isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

### We see that the last two columns ("Unnamed: 22" and "Unnamed: 23") are practically empty, so there's no need to keep them in our clean dataframe. I will do my cleaning in a new dataframe (clean_sharks). Let's get rid of those columns:

In [5]:
clean_sharks = sharks.copy().drop(["Unnamed: 22","Unnamed: 23"], axis=1)
clean_sharks.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991

### Great! now, I've noticed that not all columns have "pretty" names. That is, some of them begin/end with spaces, or are just not intuitive:

In [6]:
clean_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

### Let's "prettify" those column names:

In [7]:
clean_sharks.columns = [c.strip() for c in clean_sharks.columns]
clean_sharks.rename(index=str, columns={"Fatal (Y/N)": "Fatal", "href formula": "url","href":"url 2"},inplace=True)
clean_sharks.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal,Time,Species,Investigator or Source,pdf,url,url 2,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991

### By looking at the dataframe I see that the columns "Case Number", "Case Number.1" and "Case Number.2" are pretty similar. Let's see all the registers in which this columns differ:

In [8]:
print("rows with differences: ",clean_sharks[((clean_sharks["Case Number"] != clean_sharks["Case Number.1"])|(clean_sharks["Case Number"] 
...                  != clean_sharks["Case Number.2"]))][["Case Number","Case Number.1","Case Number.2"]].shape[0])
clean_sharks[((clean_sharks["Case Number"] != clean_sharks["Case Number.1"])|(clean_sharks["Case Number"] 
...                  != clean_sharks["Case Number.2"]))][["Case Number","Case Number.1","Case Number.2"]]

rows with differences:  13

       Case Number Case Number.1 Case Number.2
4       2016.09.15    2016.09.16    2016.09.15
33    2016.07.14.4  2016.07.14.R  2016.07.14.4
97    2016.01.24.b  2015.01.24.b  2016.01.24.b
116     2015.12.23    2015.11.07    2015.12.23
121   2015.10.28.a    2015.10.28  2015.10.28.a
169     2015.07-10    2015.07.10    2015.07.10
3296    1967.07.05    1967/07.05    1967.07.05
3569  1962,08.30.b  1962.08.30.b  1962,08.30.b
3654  1961.09.02.R  1961.09,06.R  1961.09.02.R
4177    1952.08.05    1952.08.04    1952.08.05
4719  1934.01.08.R  1934.02.08.R  1934.02.08.R
5043  1900.00.00.R  1919.00.00.R  1900.00.00.R
5150  1911.07.31.R  1911.07.31.T  1911.07.31.R

### That's only 13 rows. Let's consider the "Case Number" value as the valid one and discard the other two columns:

In [9]:
clean_sharks.drop(["Case Number.1","Case Number.2"], axis=1,inplace=True)

### It's the same case for columns "url" and "url 2". Only 54 rows have different values between these two columns, and colum "url 2" has more missing values than "url". I think it's safe to say we can discard column "url 2" as well:

In [14]:
print("rows with differences: ", clean_sharks[(clean_sharks["url"] != clean_sharks["url 2"])].shape[0])
clean_sharks.drop(["url 2"], axis=1,inplace=True)

rows with differences:  54

In [15]:
"""
A ver como va el dataframe:
"""

clean_sharks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,url,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5989