# Shark analysis project

On this project we are proceding to clean and analyse the dataset provided by Kaggle on shark attack incidents.

In [6]:
import pandas as pd

In [13]:
raw_df = pd.read_csv('GSAF5_uncleaned.csv', encoding='latin-1')
display(raw_df.head())
raw_df.shape

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

(5992, 24)

In [20]:
#Identify how many nulls you have for each variable
null_cols = raw_df.isnull().sum()

null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [28]:
raw_df.columns

unnammed_cols = raw_df[["Unnamed: 22","Unnamed: 23"]]
unnammed_cols.head()

unnammed_cols.isnull().sum()

# We are going to delete these two columns as they aren't holding any useful data for the current analysis

Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

In [42]:
unnammed_cols = raw_df.drop(columns=["Unnamed: 22","Unnamed: 23"])
raw_df2 = unnammed_cols
raw_df2.head()
# We have deleted those columns

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [65]:
#raw_df2["Time"]
#Variable Time is not homogenized 

raw_df2.dtypes
#Let's tranform Age, Date (?), o concatenar date con Year -- También TIME 
###OJO CON INJURY

#raw_df2.replace({'Fatal (Y/N)': {'Y': True, 'N': False}})
#raw_df2["Fatal (Y/N)"].value_counts().head()

#raw_df2.replace()
#[^x]
#df.replace(replacements, regex=True, inplace=True)

#raw_df2.dtypes
#df.at['C', 'x'] = 10"""

N          4315
Y          1552
UNKNOWN      94
 N            8
#VALUE!       1
Name: Fatal (Y/N), dtype: int64

In [85]:
import numpy as np
import re

#replace({"10-Jan": "1-10", "Nov-50": "11-50"})



#raw_df2['Fatal (Y/N)'].replace(lambda x : if  x != "Y" | "N", np.nan, inplace=True)




raw_df2['Fatal (Y/N)'].replace(['UNKNOWN', '#VALUE!'], np.nan, inplace=True)
raw_df2.replace("[^N]", "N", inplace=True)



#raw_df2['Fatal (Y/N)'].replace(['F', ' N', "N ", "n"], "N", inplace=True)



raw_df2['Fatal (Y/N)'].value_counts()

N    4326
Y    1552
Name: Fatal (Y/N), dtype: int64

In [75]:
raw_df2["Type"].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [86]:
raw_df2.columns
raw

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [122]:
#BUENO#raw_df2[["Case Number","Date", "Case Number.1", "Case Number.2"]]

#raw_df2[["Case Number","Date", "Year", "Time"]]
#raw_df2["Date"].value_counts()

#datetime.datetime.strptime("11/12/98","%d/%m/%y")


## Si sacamos el año de la fecha date, como valor numérico, tendremos escala temporal anual.
## Para los meses, podemos repartir en función de si lo tienen o no y ahí valorar si nos interesa hacer un análisis de eso
import re
#Extrae el formato fecha 00.00.00

raw_df2["months"] = raw_df2["Case Number"].str.findall('\d+.\d+.\d+')
#raw_df2["Case Number"].replace(pattern, regex=True)
#raw_df2["Case Number"].astype(date)
#raw_df2.columns
#raw_df2["cleaned_dates"].value_counts()
q = raw_df2["cleaned_dates"]
#q = raw_df2["cleaned_dates"].replace(r'[/-]',',',regex=True)
q[q.isnull()] = 0

/home/slimbook/.local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [128]:
#raw_df2["Case Number"].apply(raw_df2.to_datetime("Case Number"))
#\.\d\d\d\d\.()



#int(s) for s in str.split() if s.isdigit()] ==> [23, 11, 2] 
raw_df2["Date"].value_counts()

1957                            11
1942                             9
1956                             8
1950                             7
1941                             7
1958                             7
1949                             6
No date                          6
Oct-60                           5
1959                             5
12-Apr-01                        5
1954                             5
28-Jul-95                        5
1955                             5
No date, Before 1963             5
1970s                            5
05-Oct-03                        5
Aug-56                           5
1940                             5
27-Dec-08                        4
1961                             4
1945                             4
1938                             4
1960                             4
1995                             4
1890                             4
1952                             4
1960s                            4
14-Jun-12                        4
Before 1958                      4
                                ..
 11-Jan-1896                     1
Reported 21-Feb-1835             1
1980                             1
30-Dec-1890                      1
Circa 1872                       1
19-Jul-71                        1
Aug-66                           1
20-Jul-81                        1
Reported 06-Mar-1886             1
28-Jan-16                        1
24-Mar-02                        1
Reported 04-Jun-1876             1
16-Aug--2011                     1
Reported 20-Feb-1936             1
06-Jun-89                        1
Circa 1958                       1
11-Aug-02                        1
Mid Jul-1985 or mid Jul-1986     1
24-Jun-58                        1
17-Mar-84                        1
21-May-06                        1
04-Apr-1893                      1
07-Apr-05                        1
17-Aug-10                        1
18-Oct-98                        1
25-Sep-71                        1
20-May-75                        1
19-Mar-67                        1
08-Jul-12                        1
10-Jan-66                        1
Name: Date, Length: 5128, dtype: int64

In [184]:
raw_df2["Date"]

def findMonth (m):
    months = {
        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
    }
    for month, numero in months.items(): 
        if month in m: 
            return numero
    return None
    
raw_df2["Months"] = raw_df2["Date"].apply(findMonth)
#raw_df2["Months"].value_counts()

raw_df2["Months"] = raw_df2["Months"].fillna(0).astype("int64")
#raw_df2["Months"] = raw_df2["Months"].astype("int64")

raw_df2["Months"].dtype

#raw_df2[["Case Number", "Months", "Year"]].head()

dtype('int64')

In [171]:
month = {
        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
    }
month.get('Jan', None)

1

In [168]:
raw_df2.columns
raw_df2["Year"].value_counts()

2015    139
2011    128
2014    125
0       124
2013    122
2008    121
2009    120
2012    117
2007    112
2006    103
2016    103
2005    103
2010    101
2000     97
1959     93
1960     93
2001     92
2004     92
2003     92
2002     88
1962     86
1961     78
1995     76
1964     66
1998     65
1999     65
1996     61
1963     61
1966     58
1997     57
       ...
1785      1
1834      1
1791      1
1733      1
1721      1
1637      1
1617      1
77        1
5         1
1703      1
1755      1
1767      1
1771      1
1779      1
1787      1
1803      1
1749      1
1807      1
1811      1
1819      1
1805      1
1831      1
1555      1
1738      1
1859      1
1742      1
1758      1
1818      1
1822      1
1595      1
Name: Year, Length: 232, dtype: int64

In [153]:
#def extractYear(y):
q = raw_df2["Months"].replace("[/-][\s*\d\d\d\d][\d\d\d\d\s*\d\d\d\d]",",", regex=True)
q[q.isnull()] = 0

data_hypothesis_clean_dates = data_hypothesis[data_hypothesis['Month'] != '123asdasdkfkfk'].copy()
display(data_hypothesis_clean_dates)
q[q.str.find(',') > 0] = [mean(map(lambda x: int(x),e.split(','))) for e in x]
#display(q[q.str.find(',') > 0])

#raw_df2["Months"].

ValueError: invalid literal for int() with base 10: 'Reported 24Oct1888'