# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Working with JSON files

Import the pandas library

In [31]:
# Your import here:
import pandas as pd
import numpy as np

####  After importing pandas, let's find a dataset. In this lesson we will be working with a NASA dataset.

Run the code in the cell below to load the dataset containing information about asteroids that have landed on earth. This piece of code helps us open the URL for the dataset and deocde the data using UTF-8.

In [37]:
# Run this code

from urllib.request import urlopen
import json

response = urlopen("https://data.nasa.gov/resource/y77d-th95.json")
json_data = response.read().decode('utf-8', 'replace')

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [38]:
# Your code here:
nasa=pd.read_json(json_data)

Now that we have loaded the data, let's examine it using the `head()` function.

In [39]:
# Your code here:
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [46]:
# Your code here:
nasa['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Since we downloaded the file from an online source, the goal of saving the dataframe is to have a local copy. Save the dataframe using the `orient=records` argument and name the file `nasa.json`.

In [142]:
# Your code here:

nasa.to_json('nasa.json', orient = "records")

# Challenge 2 - Working with CSV and Other Separated Files

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [67]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [73]:
# Your code here:
import pandas as pd
shuttle = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst', names=cols,sep=' ')

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

Let's verify that this worked by looking at the `head()` function.

In [74]:
# Your code here:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [84]:
# Your code here:
shuttle.to_csv('shuttle.csv',index=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [102]:
# Your code here:
pd.read_excel('astronauts.xls')

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,1955-08-04,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaT,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,1937-06-27,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaT,NaN
7,Scott D. Altman,1995.0,15.0,Retired,1959-08-15,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaT,NaN
8,William A. Anders,1963.0,3.0,Retired,1933-10-17,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaT,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,1959-02-23,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaT,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,1959-12-25,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2003-02-01,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,1967-08-23,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaT,NaN
12,Jerome Apt III,1985.0,11.0,Retired,1949-04-18,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaT,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,1960-08-25,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaT,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,1930-08-05,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",2012-08-25,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,1963-11-26,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaT,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,1954-06-01,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaT,NaN
17,Serena M. Aunon,2009.0,20.0,Active,1976-04-09,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaT,NaN
18,James P. Bagian,1980.0,9.0,Retired,1952-02-22,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaT,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,1953-04-27,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaT,NaN
20,Michael A. Baker,1985.0,11.0,Management,1953-10-27,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaT,NaN
21,Michael R. Barratt,2000.0,18.0,Active,1959-04-16,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaT,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,1953-12-30,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaT,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,1944-11-17,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,1931-12-30,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,1966-02-28,NaN
25,Alan L. Bean,1963.0,3.0,Retired,1932-03-15,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaT,NaN
26,Robert L. Behnken,2000.0,18.0,Active,1970-07-28,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaT,NaN
27,John E. Blaha,1980.0,9.0,Retired,1942-08-26,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaT,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,1959-03-16,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaT,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,1942-11-22,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,Charles Lacy Veach,1984.0,10.0,Deceased,1944-09-18,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",1995-10-03,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,1967-12-01,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaT,NaN
329,James S. Voss,1987.0,12.0,Retired,1949-03-03,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaT,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,1956-10-08,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2012-02-06,NaN
331,Rex J. Walheim,1996.0,16.0,Active,1962-10-10,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaT,NaN
332,Charles D. Walker,NaN,NaN,Retired,1948-08-29,"Bedford, IN",Male,Purdue University,Aeronautical & Astronautical Engineering,NaN,NaN,NaN,3,477,0,0.0,"STS 41-D (Discovery), STS 51-D (Discovery), ST...",NaT,NaN
333,David M. Walker,1978.0,8.0,Deceased,1944-05-20,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",2001-04-23,NaN
334,Shannon Walker,2004.0,19.0,Active,1965-06-04,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaT,NaN
335,Carl E. Walz,1990.0,13.0,Retired,1955-09-06,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaT,NaN
336,Taylor G. Wang,NaN,NaN,Retired,1940-06-16,"Jiangxi, China",Male,University of California at Los Angeles,Physics,Physics,NaN,NaN,1,168,0,0.0,STS 51-B (Challenger),NaT,NaN
337,Mary E. Weber,1992.0,14.0,Retired,1962-08-24,"Cleveland, OH",Female,Purdue University; University of California-Be...,Chemical Engineering,Physical Chemistry,NaN,NaN,2,450,0,0.0,"STS-70 (Discovery), STS-101 (Atlantis)",NaT,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,1932-06-25,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaT,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,1952-11-27,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaT,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,1960-05-05,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaT,NaN
341,Edward H. White II,1962.0,2.0,Deceased,1930-11-14,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1967-01-27,Apollo 1
342,Peggy A. Whitson,1996.0,16.0,Active,1960-02-09,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaT,NaN
343,Terrence W. Wilcutt,1990.0,13.0,Management,1949-10-31,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaT,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,1932-09-26,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,1967-10-05,NaN
345,Donald E. Williams,1978.0,8.0,Retired,1958-02-13,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaT,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1958-01-18,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaT,NaN
347,Sunita L. Williams,1998.0,17.0,Active,1965-09-19,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaT,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,1962-12-29,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaT,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,1966-09-27,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaT,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,1975-11-11,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaT,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,1958-08-16,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaT,NaN
352,David A. Wolf,1990.0,13.0,Retired,1956-08-23,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaT,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,1962-07-26,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaT,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,1932-02-07,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaT,NaN
355,John W. Young,1962.0,2.0,Retired,1930-09-24,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaT,NaN
356,George D. Zamka,1998.0,17.0,Retired,1962-06-29,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaT,NaN

Use the `head()` function to inspect the dataframe.

In [103]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [107]:
# Your code here:
astronaut["Undergraduate Major"].value_counts().head()

Physics                     35
Aerospace Engineering       33
Mechanical Engineering      30
Aeronautical Engineering    28
Electrical Engineering      23
Name: Undergraduate Major, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [114]:
# Your code here:
astronaut.to_csv('astronaut.csv', index=False, sep='\t')

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [135]:
# Your code here:
fertility = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00244/fertility_Diagnosis.txt')
fertility.to_csv('fertility.csv')