## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print (sample_list_1)

[26, 83, 78, 8, 62, 31, 44, 40, 45, 82, 94, 63, 86, 77, 81, 97, 47, 2, 30, 0, 23, 28, 9, 5, 49, 27, 42, 60, 96, 50, 14, 43, 76, 61, 16, 17, 21, 72, 75, 68, 66, 88, 67, 48, 84, 90, 35, 51, 39, 10, 1, 15, 53, 79, 12, 32, 99, 19, 91, 92, 55, 70, 4, 58, 7, 64, 95, 34, 22, 59, 11, 65, 89, 71, 13, 36, 56, 3, 73, 87]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.sample(range(100),1)[0])


print(sample_list_2)

[51, 75, 57, 75, 89, 49, 92, 82, 25, 68, 94, 63, 14, 67, 89, 73, 13, 30, 35, 67, 79, 43, 77, 77, 34, 62, 60, 29, 16, 5, 64, 32, 12, 7, 26, 37, 73, 12, 11, 41, 54, 71, 92, 64, 45, 89, 77, 40, 4, 17, 37, 58, 97, 9, 82, 6, 2, 70, 58, 42, 65, 10, 87, 81, 26, 77, 89, 79, 67, 42, 18, 5, 77, 14, 48, 46, 20, 12, 18, 54]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 3, 8, 15, 19, 21, 22, 23, 27, 28, 31, 36, 39, 44, 47, 50, 53, 55, 56, 59, 61, 66, 72, 76, 78, 83, 84, 86, 88, 90, 91, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{37, 6, 41, 46, 18, 20, 54, 25, 29, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{2, 4, 5, 7, 9, 10, 11, 12, 13, 14, 16, 17, 26, 30, 32, 34, 35, 40, 42, 43, 45, 48, 49, 51, 58, 60, 62, 63, 64, 65, 67, 68, 70, 71, 73, 75, 77, 79, 81, 82, 87, 89, 92, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
# Your code here
# La suma de las longitudes de set1 y set2 ha de ser igual a la suma de set 3 set 4 y 2 veces set 5
# La suma de las longitudes set 5 y set 4 ha de ser la longitud de set 2
# La suma de las longitudes set 5 y set 3 ha de ser la longitud de set 1
set1y2 = len(set1) + len(set2)
lenSet1 = len(set5) + len(set3)
lenSet2= len(set5) + len(set4)
lenTot = len(set4) + 2*len(set5) + len(set3)
print(set1y2,lenTot)
print(len(set1),lenSet1)
print(len(set2),lenSet2)

135 135
80 80
55 55

#### Create an empty set called `set6`.

In [28]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [29]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 27, 28, 30, 31, 32, 34, 35, 36, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [35]:
# Your code here
if set1==set6:
    print("set1 y set6 son iguales")

set1 y set6 son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [36]:
# Your code here
if set2.issubset(set1):
    print("Todos los elementos de set2 se encuentran en set1")
if set3.issubset(set1):
    print("Todos los elementos de set3 se encuentran en set1")

Todos los elementos de set3 se encuentran en set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
setu1= set3.union(set4,set5)
setu2 = set1.union(set2)
if(setu1==setu2):
    print("son iguales")

son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
# Your code here
print(set1)
set1.pop()

print(set1)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 27, 28, 30, 31, 32, 34, 35, 36, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 27, 28, 30, 31, 32, 34, 35, 36, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set1.difference(list_to_remove)
print(set1)

{2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 22, 23, 26, 27, 28, 30, 32, 34, 35, 36, 40, 42, 43, 44, 45, 47, 48, 50, 53, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 82, 83, 84, 86, 87, 88, 90, 92, 94, 95, 96, 97}