## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample(set(range(101)), 80)
print(sample_list_1)

[49, 89, 3, 100, 90, 36, 84, 29, 62, 28, 42, 6, 55, 94, 41, 15, 87, 40, 82, 4, 35, 17, 92, 26, 46, 76, 9, 22, 72, 66, 7, 88, 93, 44, 39, 97, 61, 21, 79, 75, 99, 19, 45, 31, 24, 32, 16, 74, 12, 50, 23, 56, 65, 37, 67, 91, 73, 25, 2, 5, 33, 60, 59, 95, 38, 96, 52, 43, 18, 98, 63, 54, 58, 34, 11, 70, 53, 13, 20, 10]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [39]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 70, 72, 73, 74, 75, 76, 79, 82, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
# Your code here
sample_list_2 = []

for i in random.sample(range(101), 80):
    sample_list_2.append(i)
print(sample_list_2)

[23, 94, 69, 86, 66, 18, 15, 60, 95, 30, 44, 77, 63, 62, 33, 83, 88, 80, 50, 13, 59, 0, 48, 58, 82, 40, 51, 38, 46, 11, 26, 27, 34, 29, 73, 56, 81, 1, 35, 5, 75, 67, 85, 9, 55, 79, 54, 22, 61, 45, 89, 4, 2, 91, 37, 3, 53, 98, 71, 41, 57, 78, 17, 42, 28, 90, 14, 72, 76, 8, 6, 19, 97, 68, 31, 74, 24, 36, 100, 39]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 13, 14, 15, 17, 18, 19, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 91, 94, 95, 97, 98, 100}

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Your code here
set3 = set1.difference(set2)
print(set3)

#Recuerda que .difference se encarga de restar los elementos del () al de delante del punto

{32, 65, 96, 99, 70, 7, 10, 43, 12, 16, 49, 20, 21, 52, 84, 87, 25, 92, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{0, 1, 68, 69, 71, 8, 77, 14, 78, 48, 80, 81, 51, 83, 85, 86, 57, 27, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 5, 6, 9, 11, 13, 15, 17, 18, 19, 22, 23, 24, 26, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 50, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 72, 73, 74, 75, 76, 79, 82, 88, 89, 90, 91, 94, 95, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here


    len(set1)
    len(set2)
    len(set3)
    len(set4)
    len(set5)

    
#incluir nota 
#AUB = A+B - AnB

#### Create an empty set called `set6`.

In [22]:
# Your code here


set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [23]:
# Your code here

#updete unde unos sets con otros

set6.update(set5, set3)
print(set6)

{2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 70, 72, 73, 74, 75, 76, 79, 82, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [27]:
# Your code here

if set1 == set6:
    print("True")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
# Your code here

set3.union(set4, set5)
print(set3)
set3.union(set1, set2)
print(set3)

{32, 65, 96, 99, 70, 7, 10, 43, 12, 16, 49, 20, 21, 52, 84, 87, 25, 92, 93}
{32, 65, 96, 99, 70, 7, 10, 43, 12, 16, 49, 20, 21, 52, 84, 87, 25, 92, 93}

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
# Your code here

print(set1.pop())
print(set1.pop())
len(set1)

6
7

74


#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [47]:
# Your code here
#He vuelto a ejecutar la celda del set1 para tener 80 elementos
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(len(set1))
print(len(list_to_remove))

rem = set(list_to_remove)

set_f = set1.difference(rem)
print(set_f)
print(len(set_f))

80
20
{2, 3, 4, 5, 6, 7, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 65, 66, 67, 70, 72, 73, 74, 75, 76, 82, 84, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}
65