## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[4, 53, 47, 77, 23, 35, 95, 15, 89, 97, 3, 88, 74, 27, 42, 10, 64, 66, 61, 75, 63, 69, 100, 0, 99, 68, 41, 30, 40, 13, 8, 38, 72, 56, 6, 73, 50, 94, 11, 85, 1, 62, 80, 59, 5, 46, 20, 83, 16, 57, 91, 24, 96, 52, 37, 25, 55, 54, 26, 18, 32, 87, 22, 67, 93, 84, 14, 76, 71, 79, 86, 7, 82, 34, 90, 29, 49, 36, 58, 70]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [65]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
# Your code here
sample_list_2 = [random.choice(range(101)) for i in range(80)]
    
print(sample_list_2)

[54, 24, 96, 41, 21, 91, 59, 33, 10, 72, 67, 17, 66, 80, 86, 60, 86, 44, 76, 18, 20, 56, 49, 87, 91, 11, 68, 29, 16, 83, 64, 18, 5, 59, 84, 78, 43, 46, 55, 54, 84, 18, 53, 66, 63, 7, 38, 43, 47, 81, 5, 2, 30, 91, 94, 47, 5, 51, 28, 77, 1, 82, 43, 48, 58, 17, 58, 71, 100, 99, 53, 93, 54, 100, 15, 10, 81, 53, 29, 22]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [42]:
# Your code here
set3=set1.difference(set2)
print(set3)
print(len(set3))

{0, 3, 4, 6, 8, 13, 14, 23, 25, 26, 27, 32, 34, 35, 36, 37, 40, 42, 50, 52, 57, 61, 62, 69, 70, 73, 74, 75, 79, 85, 88, 89, 90, 95, 97}
35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4=set2.difference(set1)
print(set4)

{33, 2, 43, 44, 60, 78, 48, 17, 81, 51, 21, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{1, 5, 7, 10, 11, 15, 16, 18, 20, 22, 24, 29, 30, 38, 41, 46, 47, 49, 53, 54, 55, 56, 58, 59, 63, 64, 66, 67, 68, 71, 72, 76, 77, 80, 82, 83, 84, 86, 87, 91, 93, 94, 96, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [52]:
# Your code here
#set1 must be longer than set2, because the list that generates set1 doesn't have any duplicates:
print(len(set1) > len (set2))
#set3 must be shorter than set1 and set2, since it only includes the elements present in set1 but not in set2:
print((len(set3) < len(set1)) and (len(set3) < len(set2)))
#set4 must be shorter than set1 and set2, since it only includes the elements present in set2 but not in set1:
print((len(set4) < len(set1)) and (len(set4) < len(set2)))
#set5 must be shorter than set1 and set2, since it only includes the common elements between set1 and set2:
print((len(set5) < len(set1)) and (len(set5) < len(set2)))

True
True
True
True

#### Create an empty set called `set6`.

In [33]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 40, 41, 42, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [54]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here
set123=set3.union(set4.union(set5))
set12=set1.union(set2)
print(set123 == set12)

True

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
# Your code here
print(set1)
set1pop=set1.pop()
print(set1pop)
print(set1)
#sets are unordered, therefore it's not possible to know which element will be removed by using the pop

{0, 1, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 40, 41, 42, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}
0
{1, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 40, 41, 42, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
for e in list_to_remove:
    set1.discard(e)
print(set1)

{1, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 40, 41, 42, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}
{3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 34, 35, 36, 37, 38, 40, 42, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 100}