# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [115]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [116]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [117]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [118]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [119]:
null_columns=salaries.columns[salaries.isnull().any()]
salaries[null_columns].isnull().sum()

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [120]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [121]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [122]:
from scipy.stats import ttest_1samp, t

stats.ttest_1samp(salaries['Hourly Rate'].dropna(axis=0), 30)

# We reject the null hypothesis

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [123]:
stats.ttest_1samp(salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna(axis=0), 86000)

# We reject the null hypothesis

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [124]:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], dropna=False).sort_values("Hourly", ascending=False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [125]:
stats.ttest_1samp(salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].dropna(axis=0), 35)

# We reject the null hypothesis

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [126]:
hourly_wage = salaries[['Hourly Rate']].copy().dropna(axis=0)
hourly_wage.head()

    Hourly Rate
4         19.86
6         46.10
7         35.60
10         2.65
18        17.68

In [127]:
degrees_of_freedom = len(hourly_wage) - 1
degrees_of_freedom

8021

In [148]:
mean = hourly_wage['Hourly Rate'].mean()
mean

32.78855771628024

In [149]:
standard_error = stats.sem(hourly_wage, axis=None)
standard_error

0.1352368565101596

In [173]:
def mean_confidence_interval(hourly_wage, confidence=0.95):
    m, se = mean, standard_error
    h = se * t.ppf((1 + confidence) / 2., degrees_of_freedom)
    return m, m-h, m+h

result = mean_confidence_interval(hourly_wage, confidence=0.95)

print("The confidence interval of the hourly wage is {} - {} and the mean is {}".format(round(result[1],3),
                                                                                        round(result[2],3),
                                                                                        round(result[0],3)))

The confidence interval of the hourly wage is 32.523 - 33.054 and the mean is 32.789

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [174]:
salaried_police = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna(axis=0)
salaried_police.head()

0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64

In [175]:
degrees_of_freedom_sp = len(salaried_police) - 1
degrees_of_freedom_sp

13403

In [176]:
mean_sp = salaried_police.mean()
mean_sp

86486.41450313339

In [177]:
standard_error_sp = stats.sem(salaried_police, axis=None)
standard_error_sp

157.82445675052244

In [178]:
def mean_confidence_interval(salaried_police, confidence=0.95):
    m_sp, se_sp = mean_sp, standard_error_sp
    h_sp = se_sp * t.ppf((1 + confidence) / 2., degrees_of_freedom_sp)
    return m_sp, m_sp-h_sp, m_sp+h_sp

result_sp = mean_confidence_interval(salaried_police, confidence=0.95)

print("The confidence interval of the salaried employeed in the police is {} - {} and the mean is {}".
format(round(result_sp[1],3),
round(result_sp[2],3),
round(result_sp[0],3)))

The confidence interval of the salaried employeed in the police is 86177.056 - 86795.773 and the mean is 86486.415

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [194]:
from statsmodels.stats.proportion import proportions_ztest

stat, pval = proportions_ztest(salaries['Salary or Hourly'].value_counts(), len(salaries['Salary or Hourly']), value=0.25)
print(stat, pval)

68.65451082429264 0.0

In [184]:
len(salaries['Salary or Hourly'])

33183

In [185]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64