# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [81]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import norm
from scipy.stats import sem, t, ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [12]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [13]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [30]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [135]:
# Your code here:
salaries["Department"].value_counts()
salaries.groupby(["Department"])["Salary or Hourly"].count().head()

Department
ADMIN HEARNG           39
ANIMAL CONTRL          81
AVIATION             1629
BOARD OF ELECTION     107
BOARD OF ETHICS         8
Name: Salary or Hourly, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [40]:
# Your code here:
# 30$/hour
# one sample test

# 95% two sided confidence interval

ttest_1samp(salaries["Hourly Rate"].dropna().tolist(),30)
#salaries_list

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [42]:
pvalue = 4.3230240486229894e-92/2
pvalue
#pvalue < 0,05 : se rechaza la hipótesis

2.1615120243114947e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [48]:
#salaries.loc[salaries["Department"]=="POLICE"]

# ttest_1samp((salaries["Annual Salary"].loc[salaries["Department"]=="POLICE"]).dropna().tolist(),86000)
t = ttest_1samp(salaries[salaries["Department"]=="POLICE"]["Annual Salary"].dropna().tolist(),86000)

In [52]:
t.pvalue/2

    #¿Están cobrando más de 86,000?
# using a 95% confidence interval >    pvalue > 0,05   -> Ho

0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers

In [73]:
pd.crosstab(salaries["Department"],salaries["Salary or Hourly"])\
                                    .sort_values(by ="Hourly", ascending=False).head()
# The department that has the most hourly workers is STREETS & SCANS

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [136]:
# Your code here:

t_1 = ttest_1samp(salaries["Hourly Rate"].loc[salaries["Department"]=="STREETS & SAN"].dropna().tolist(),35)
t_1.pvalue/2

#pvalue < threshold  -> H1: Their hourly wage is less than $35/hour

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

#### prueba con PPF
confidence = 0.95

mean= np.mean(hourly)
sem = scipy.stats.sem(hourly)  #error estándar de la media
h = sem * scipy.stats.t.ppf(confidence/2, len(hourly)-1)  #df grados de libertad: tamaño de la muestra -1
print(mean, mean-h, mean+h)

#interval(0.05, hourly, scale=1)

In [137]:
# construct a 95% confidence interval for the mean hourly wage of all hourly workers
    # el 95% de los casos está en un segmento concreto.
    # t.interval function

hourly = salaries["Hourly Rate"].dropna() 

loc=np.mean(hourly)
print(loc)
scipy.stats.t.interval(0.05, len(hourly)-1, loc=np.mean(hourly), scale=scipy.stats.sem(hourly))

#len(hourly)-1      df grados de libertad: tamaño de la muestra -1
#scale=scipy.stats.sem(hourly)       #error estándar de la media

32.78855771628024

(32.780077183391256, 32.79703824916922)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [147]:
# salaried employeed
salaried = salaries["Annual Salary"].loc[salaries["Salary or Hourly"]=="Salary"]

conf_95 = scipy.stats.t.interval(0.05, len(salaried)-1, loc=np.mean(salaried), scale=scipy.stats.sem(salaried))
conf_95

(86778.68160534588, 86795.31797495698)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [148]:
# the proportion of a group in our sample is significantly different than a fraction.
import statsmodels as stm
from statsmodels.stats.proportion import proportions_ztest

In [154]:
zvalue, pvalue = proportions_ztest(salaries['Salary or Hourly'].value_counts()[1], len(salaries), 0.25)

In [155]:
zvalue, pvalue

(-3.5099964213703005, 0.0004481127249057967)