In [1]:
import pandas as pd
data = pd.read_json('juans.json', lines=True)

In [2]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [3]:
offices_list = db.first_office.find({"$and": [{"founded_year": {"$gt": 2005}}, {"number_of_employees": {"$gt": 50}}, {"currencies_ok": {"$gt":1000000}}, {"$or":[{"category_code": {"$eq": "web"}}, {"category_code": {"$eq": "mobile"}}, {"category_code": {"$eq": "news"}}, {"category_code": {"$eq": "social"}}, {"category_code": {"$eq": "games_videos"}}, {"category_code": {"$eq": "network_hosting"}}, {"category_code": {"$eq": "ecommerce"}}, {"category_code": {"$eq": "advertising"}}]}]}, {"name":1, "geo_point": 1, "latitude":1, "longitude":1, "currencies_ok":1})

In [4]:
offices_list2 = pd.DataFrame(offices_list)
offices_list2

,_id,currencies_ok,geo_point,latitude,longitude,name
0,5d24dd04c14acd198dcea4ef,1160000000,"{'type': 'Point', 'coordinates': [-122.4169244...",37.776805,-122.416924,Twitter
1,5d24dd04c14acd198dcea4fb,75500000,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,OpenX
2,5d24dd04c14acd198dcea53f,140000000,"{'type': 'Point', 'coordinates': [-122.39071, ...",37.779507,-122.390710,Eventbrite
3,5d24dd04c14acd198dcea548,66000000,"{'type': 'Point', 'coordinates': [-71.076869, ...",42.350571,-71.076869,Carbonite
4,5d24dd04c14acd198dcea54f,14300000,"{'type': 'Point', 'coordinates': [-122.419204,...",37.775196,-122.419204,GigaOM
5,5d24dd04c14acd198dcea56b,7180000,"{'type': 'Point', 'coordinates': [-122.406676,...",37.766909,-122.406676,Flixster
6,5d24dd04c14acd198dcea594,20000000,"{'type': 'Point', 'coordinates': [18.1582777, ...",59.316784,18.158278,Rebtel
7,5d24dd04c14acd198dcea595,34000000,"{'type': 'Point', 'coordinates': [-76.77514, 3...",39.205649,-76.775140,Lotame
8,5d24dd04c14acd198dcea59b,25000000,"{'type': 'Point', 'coordinates': [4.5464658, 5...",51.912258,4.546466,Nimbuzz
9,5d24dd04c14acd198dcea5cf,25000000,"{'type': 'Point', 'coordinates': [-122.3954751...",37.791115,-122.395475,Yola
10,5d24dd04c14acd198dcea5fe,53200000,"{'type': 'Point', 'coordinates': [-122.286493,...",37.836957,-122.286493,TubeMogul
11,5d24dd04c14acd198dcea644,63000000,"{'type': 'Point', 'coordinates': [-122.156579,...",37.446668,-122.156579,PubMatic
12,5d24dd04c14acd198dcea658,32500000,"{'type': 'Point', 'coordinates': [-73.9912208,...",40.741356,-73.991221,Clickable
13,5d24dd04c14acd198dcea699,49302000,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891,Fon
14,5d24dd04c14acd198dcea69f,22100000,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891,Polyvore
15,5d24dd04c14acd198dcea6b4,58500000,"{'type': 'Point', 'coordinates': [-122.300246,...",37.553743,-122.300246,Wix
16,5d24dd04c14acd198dcea6c0,55800000,"{'type': 'Point', 'coordinates': [-121.932962,...",37.285133,-121.932962,TrialPay
17,5d24dd04c14acd198dcea6ec,40800000,"{'type': 'Point', 'coordinates': [-122.42689, ...",37.636288,-122.426890,MyBuys
18,5d24dd04c14acd198dcea6f0,35000000,"{'type': 'Point', 'coordinates': [-74.67117, 4...",40.598650,-74.671170,Zecco
19,5d24dd04c14acd198dcea756,2750000,"{'type': 'Point', 'coordinates': [-122.3991505...",37.787695,-122.399151,Goodreads
20,5d24dd04c14acd198dcea75a,2510000,"{'type': 'Point', 'coordinates': [4.890951, 52...",52.373812,4.890951,Shoeboxed
21,5d24dd04c14acd198dcea75f,14800000,"{'type': 'Point', 'coordinates': [-122.140896,...",37.478769,-122.140896,Qik
22,5d24dd04c14acd198dcea7a0,22858017,"{'type': 'Point', 'coordinates': [5.291266, 52...",52.132633,5.291266,Badoo
23,5d24dd04c14acd198dcea80e,11000000,"{'type': 'Point', 'coordinates': [9.987181, 53...",53.545980,9.987181,Mixbook
24,5d24dd04c14acd198dcea820,2500000,"{'type': 'Point', 'coordinates': [-73.998208, ...",40.725568,-73.998208,HealthcareMagic
25,5d24dd04c14acd198dcea82b,10800000,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891,GumGum
26,5d24dd04c14acd198dcea87f,1230000,"{'type': 'Point', 'coordinates': [-119.704416,...",34.423403,-119.704416,AdoTube
27,5d24dd04c14acd198dcea886,4440000,"{'type': 'Point', 'coordinates': [-97.807032, ...",30.414146,-97.807032,Grooveshark
28,5d24dd04c14acd198dcea8c9,28500000,"{'type': 'Point', 'coordinates': [-87.527245, ...",33.206307,-87.527245,OLX
29,5d24dd04c14acd198dcea910,12000000,"{'type': 'Point', 'coordinates': [-73.639076, ...",45.545447,-73.639076,LiveRail
...,...,...,...,...,...,...
31,5d24dd04c14acd198dcea961,27100000,"{'type': 'Point', 'coordinates': [-117.282963,...",33.120411,-117.282963,Next New Networks
32,5d24dd04c14acd198dcea971,25600000,"{'type': 'Point', 'coordinates': [-77.12016, 3...",38.909812,-77.120160,Jivox
33,5d24dd04c14acd198dcea973,82900000,"{'type': 'Point', 'coordinates': [-85.5136366,...",38.279848,-85.513637,ShareThis
34,5d24dd04c14acd198dcea9b0,4000000,"{'type': 'Point', 'coordinates': [-3.70325, 40...",40.416741,-3.703250,ScanCafe
35,5d24dd04c14acd198dcea9ed,22500000,"{'type': 'Point', 'coordinates': [-122.1647722...",37.448902,-122.164772,Magento
36,5d24dd04c14acd198dceaa30,91500000,"{'type': 'Point', 'coordinates': [-122.025257,...",37.376040,-122.025257,Glassdoor
37,5d24dd04c14acd198dceaa3b,74700000,"{'type': 'Point', 'coordinates': [114.150956, ...",22.280600,114.150956,Bonobos
38,5d24dd04c14acd198dceaac6,57800000,"{'type': 'Point', 'coordinates': [-122.3370801...",47.617179,-122.337080,RichRelevance
39,5d24dd04c14acd198dceaaf8,45800000,"{'type': 'Point', 'coordinates': [-79.034176, ...",35.929674,-79.034176,Mojiva
40,5d24dd04c14acd198dceab3c,6880000,"{'type': 'Point', 'coordinates': [-95.465422, ...",29.761303,-95.465422,EQAL
41,5d24dd05c14acd198dceaba8,27000000,"{'type': 'Point', 'coordinates': [-79.385969, ...",43.668300,-79.385969,Adify
42,5d24dd05c14acd198dceabf1,5000000,"{'type': 'Point', 'coordinates': [24.96676, 45...",45.943161,24.966760,Zinch
43,5d24dd05c14acd198dceac26,21800000,"{'type': 'Point', 'coordinates': [-74.0078134,...",40.731048,-74.007813,NewsCred
44,5d24dd05c14acd198dceac89,43900000,"{'type': 'Point', 'coordinates': [-72.6003, 42...",42.587800,-72.600300,SocialVibe
45,5d24dd05c14acd198dceacc8,28500000,"{'type': 'Point', 'coordinates': [-106.346771,...",56.130366,-106.346771,Bizo
46,5d24dd05c14acd198dceacd1,6000000,"{'type': 'Point', 'coordinates': [-122.344948,...",47.739569,-122.344948,Sonico
47,5d24dd05c14acd198dcead29,4200000,"{'type': 'Point', 'coordinates': [-113.515769,...",53.544711,-113.515769,GreenNote
48,5d24dd05c14acd198dceadc6,39800000,"{'type': 'Point', 'coordinates': [-96.9932926,...",32.984488,-96.993293,The Receivables Exchange
49,5d24dd05c14acd198dceaf91,23194350,"{'type': 'Point', 'coordinates': [-122.410111,...",37.776769,-122.410111,Vopium
50,5d24dd05c14acd198dceafc7,17815950,"{'type': 'Point', 'coordinates': [-77.156823, ...",39.083916,-77.156823,Videoplaza
51,5d24dd05c14acd198dceb0b0,22800000,"{'type': 'Point', 'coordinates': [4.3532861, 5...",52.011273,4.353286,Huddler
52,5d24dd05c14acd198dceb131,11000000,"{'type': 'Point', 'coordinates': [24.910863, 6...",60.164410,24.910863,Sharethrough
53,5d24dd05c14acd198dceb46e,4000000,"{'type': 'Point', 'coordinates': [2.319287, 48...",48.891986,2.319287,Lolapps
54,5d24dd05c14acd198dceb5c3,3650000,"{'type': 'Point', 'coordinates': [-79.3979364,...",43.655080,-79.397936,FamilyLink
55,5d24dd05c14acd198dceb7d2,18400000,"{'type': 'Point', 'coordinates': [-73.9821315,...",40.762674,-73.982131,Trustpilot
56,5d24dd05c14acd198dceb836,26900000,"{'type': 'Point', 'coordinates': [-74.171758, ...",39.993019,-74.171758,MediaMath
57,5d24dd05c14acd198dceb9fc,41900000,"{'type': 'Point', 'coordinates': [-97.748623, ...",30.271393,-97.748623,BlueKai
58,5d24dd05c14acd198dceba07,8600000,"{'type': 'Point', 'coordinates': [-73.5457246,...",45.557327,-73.545725,RideCharge
59,5d24dd05c14acd198dcebbbb,22000000,"{'type': 'Point', 'coordinates': [-71.413567, ...",42.276902,-71.413567,Skout
60,5d24dd05c14acd198dcebca8,3100000,"{'type': 'Point', 'coordinates': [10.6976787, ...",53.835358,10.697679,Mobifusion

In [5]:
off2= offices_list2.copy()

In [6]:
off2 = off2[["name", "currencies_ok", "latitude", "longitude", "geo_point"]]
off2.to_json("juans.json", orient="records")

In [7]:
off2.head()

,name,currencies_ok,latitude,longitude,geo_point
0,Twitter,1160000000,37.776805,-122.416924,"{'type': 'Point', 'coordinates': [-122.4169244..."
1,OpenX,75500000,34.149471,-118.132747,"{'type': 'Point', 'coordinates': [-118.1327468..."
2,Eventbrite,140000000,37.779507,-122.390710,"{'type': 'Point', 'coordinates': [-122.39071, ..."
3,Carbonite,66000000,42.350571,-71.076869,"{'type': 'Point', 'coordinates': [-71.076869, ..."
4,GigaOM,14300000,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,..."

In [9]:
df = pd.DataFrame(offices_list2, columns=["latitude", "longitude"])
geo_list = [df.columns.values.tolist()] + df.values.tolist()
geo_list.pop(0)
print(geo_list)

[[37.7768052, -122.4169244], [34.1494713, -118.1327468], [37.779507, -122.39071], [42.350571, -71.076869], [37.775196, -122.419204], [37.766909, -122.406676], [59.3167843, 18.1582777], [39.205649, -76.77514], [51.9122575, 4.5464658], [37.7911148, -122.3954751], [37.836957, -122.286493], [37.446668, -122.156579], [40.7413559, -73.9912208], [37.09024, -95.712891], [37.09024, -95.712891], [37.553743, -122.300246], [37.285133, -121.932962], [37.636288, -122.42689], [40.59865, -74.67117], [37.7876952, -122.3991505], [52.373812, 4.890951], [37.478769, -122.140896], [52.132633, 5.291266], [53.54598, 9.987181], [40.725568, -73.998208], [37.09024, -95.712891], [34.423403, -119.704416], [30.414146, -97.807032], [33.206307, -87.527245], [45.545447, -73.639076], [25.9690885, -80.1417742], [33.120411, -117.282963], [38.909812, -77.12016], [38.2798482, -85.5136366], [40.416741, -3.70325], [37.4489021, -122.1647722], [37.37604, -122.025257], [22.2806, 114.150956], [47.6171788, -122.3370801], [35.929674, -79.034176], [29.761303, -95.465422], [43.6683, -79.385969], [45.943161, 24.96676], [40.7310476, -74.0078134], [42.5878, -72.6003], [56.130366, -106.346771], [47.739569, -122.344948], [53.544711, -113.515769], [32.9844884, -96.9932926], [37.776769, -122.410111], [39.083916, -77.156823], [52.0112727, 4.3532861], [60.16441, 24.910863], [48.891986, 2.319287], [43.65508, -79.3979364], [40.762674, -73.9821315], [39.993019, -74.171758], [30.271393, -97.748623], [45.5573273, -73.5457246], [42.276902, -71.413567], [53.8353585, 10.6976787]]

In [21]:
#https://docs.mongodb.com/manual/reference/operator/query/near/index.html

def findNear(geopoint, radio_max_meters):
    return db.final_offices.find({
        "geo_point": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio_max_meters,
         }
       }
    })

#https://developers.google.com/maps/documentation/geocoding/intro
twitter = {"type":"Point","coordinates":[-122.416924,37.776805]}
radio_max_meters = 2000
num_offices = findNear(twitter, radio_max_meters).count()

print(f"Hay {num_offices} oficinas cerca a {radio_max_meters} metros")
print("La mas cercana es")
print(list(findNear(twitter, radio_max_meters)))

Hay 5 oficinas cerca a 2000 metros
La mas cercana es
[{'_id': ObjectId('5d2768f0c14acd198dcf3084'), 'name': 'Twitter', 'currencies_ok': 1160000000, 'latitude': 37.7768052, 'longitude': -122.4169244, 'geo_point': {'type': 'Point', 'coordinates': [-122.4169244, 37.7768052]}}, {'_id': ObjectId('5d2768f0c14acd198dcf307e'), 'name': 'GigaOM', 'currencies_ok': 14300000, 'latitude': 37.775196, 'longitude': -122.419204, 'geo_point': {'type': 'Point', 'coordinates': [-122.419204, 37.775196]}}, {'_id': ObjectId('5d2768f0c14acd198dcf30af'), 'name': 'Vopium', 'currencies_ok': 23194350, 'latitude': 37.776769, 'longitude': -122.410111, 'geo_point': {'type': 'Point', 'coordinates': [-122.410111, 37.776769]}}, {'_id': ObjectId('5d2768f0c14acd198dcf3080'), 'name': 'Flixster', 'currencies_ok': 7180000, 'latitude': 37.766909, 'longitude': -122.406676, 'geo_point': {'type': 'Point', 'coordinates': [-122.406676, 37.766909]}}, {'_id': ObjectId('5d2768f0c14acd198dcf308f'), 'name': 'Goodreads', 'currencies_ok': 2750000, 'latitude': 37.7876952, 'longitude': -122.3991505, 'geo_point': {'type': 'Point', 'coordinates': [-122.3991505, 37.7876952]}}]

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  app.launch_new_instance()

In [135]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=2000&type=coffee&keyword=startbucks&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [136]:
res.status_code

200

In [137]:
data = res.json()

In [138]:
lis=[]

for i in range(len(data)):
    noun= data["results"][i]["name"]
    adress= data["results"][i]["vicinity"]
    lis.append(noun)
    lis.append(adress)
print(lis)

['Starbucks', '865 Market Street C, #26A, San Francisco', 'Starbucks', '1390 Market St #107, San Francisco', 'Starbucks', '1231 Market St, San Francisco']

In [139]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=2000&type=food&keyword=vegan&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [140]:
data2 = res.json()

In [141]:
lista=[]

for i in range(len(data2)):
    noun= data2["results"][i]["name"]
    adress= data2["results"][i]["vicinity"]
    lista.append(noun)
    lista.append(adress)
print(lista)

['Loving Hut', '865 Market St, San Francisco', 'Golden Era', '395 Golden Gate Ave, San Francisco', 'Nourish Cafe', '1030 Hyde St, San Francisco', 'Indochine Vegan', '508 Valencia St, San Francisco']

In [142]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=2000&type=stablishment&keyword=nursery&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [143]:
data3 = res.json()

In [144]:
lista2=[]

for i in range(len(data3)):
    noun= data3["results"][i]["name"]
    adress= data3["results"][i]["vicinity"]
    lista2.append(noun)
    lista2.append(adress)
print(lista2)

['Delano Nursery Inc', '548 5th St, San Francisco', 'Plants and Friends', '542 Laguna St, San Francisco', 'Grace Nursery Inc.', '676, 678 and, 690 Brannan St, San Francisco']

In [145]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=2000&type=bar&keyword=bar&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [146]:
data4 = res.json()

In [147]:
lista3=[]

for i in range(len(data3)):
    noun= data4["results"][i]["name"]
    adress= data4["results"][i]["vicinity"]
    lista3.append(noun)
    lista3.append(adress)
print(lista3)

['Union Square Sports Bar', '115 Mason St, San Francisco', 'Mikkeller Bar', '34 Mason St, San Francisco', "Leo's Oyster Bar", '568 Sacramento St, San Francisco']

In [148]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=2000&type=night_club&keyword=night_club&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [149]:
data5 = res.json()

In [150]:
lista4=[]

for i in range(len(data5)):
    noun= data5["results"][i]["name"]
    adress= data5["results"][i]["vicinity"]
    lista4.append(noun)
    lista4.append(adress)
print(lista4)

['The Grand', '520 4th St, San Francisco', 'The Holy Cow', '1535 Folsom St, San Francisco', 'F8', '1192 Folsom St, San Francisco', 'Audio Nightclub', '316 11th St, San Francisco']

In [159]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=5000&type=stadium&keyword=basketball&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [160]:
data6 = res.json()

In [161]:
lista5=[]

for i in range(len(data6)):
    noun= data6["results"][i]["name"]
    adress= data6["results"][i]["vicinity"]
    lista5.append(noun)
    lista5.append(adress)
print(lista5)

['Kezar Stadium', '670 Kezar Dr, San Francisco', 'Oracle Park', '24 Willie Mays Plaza, San Francisco', 'Golden State Warriors Stadium', 'San Francisco']

In [171]:
import requests
res = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.776805,-122.416924&radius=20000&type=airport&keyword=airport&key=AIzaSyAKAtA9uzgi2WKyRjxezYZ_FGOB441Bpi8')

In [172]:
data7 = res.json()

In [173]:
lista6=[]

for i in range(len(data7)):
    noun= data7["results"][i]["name"]
    adress= data7["results"][i]["vicinity"]
    lista6.append(noun)
    lista6.append(adress)
print(lista6)

['San Francisco International Airport', 'San Francisco', 'Oakland International Airport', '1 Airport Dr, Oakland', 'Oakland International Airport-Administrative', '1 Airport Dr, Oakland']