# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import numpy as np
import pandas as pd
import re

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [2]:
pokemon = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [4]:
pokemon.shape

(800, 13)

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [9]:
t1 = pokemon["Type 1"].unique()
print(t1)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

In [20]:
t2 = pokemon["Type 2"].unique()
print(t2)

['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

In [11]:
Type = np.unique(np.concatenate((t1,t2),0))
print(Type)

TypeError: '<' not supported between instances of 'float' and 'str'

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [23]:
pokemon.replace({'Name': r'.Mega$'}, {'Name': 'Mega'}, inplace=True, regex=True)


pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [25]:
pokemon["A/D Ratio"] = pokemon["Attack"] / pokemon["Defense"]
display(pokemon)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.858333
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,0.857143
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0.363636
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,0.900000
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.166667
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,0.500000
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,2.250000
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,1.125000
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,1.090909
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,1.066667
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,1.000000
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,1.600000
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,1.350000
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,2.000000
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,1.384615
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,1.363636
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,1.231884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False,1.000000
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False,1.226667
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False,1.017544
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,0.333333
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False,1.428571
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False,1.415094
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False,1.428571
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,0.879121
778,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False,1.458333
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,1.447368
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False,0.942857
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False,0.942857
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False,0.942857
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,0.942857
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,0.737705
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False,0.696721
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False,0.778689
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False,0.819672
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,0.811765
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,0.635870
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,0.857143
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,0.875000
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,1.378947
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,1.378947
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [36]:
pokemon.loc[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [37]:
pokemon.loc[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [ ]:
# your code here

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# your code here

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here