# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
pokemon = pd.read_csv("Pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [6]:
pokemon["Total check"] = pokemon["HP"] + pokemon["Attack"] + pokemon["Defense"] + pokemon["Sp. Atk"] + pokemon["Sp. Def"] + pokemon["Speed"]
display(pokemon).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total check
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,205
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,395
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,195
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,205
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,495
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,579
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,253
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,413
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,262
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,442
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,288
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False,525
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False,500
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False,431
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,500
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False,300
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False,452
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False,600
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,470
778,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False,309
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,474
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False,335
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False,335
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False,335
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,335
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,494
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False,494
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False,494
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False,494
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,304
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,514
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,245
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,535
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

AttributeError: 'NoneType' object has no attribute 'head'

In [13]:
pokemon["Total"].sum()

348082

In [14]:
pokemon["Total check"].sum()

348082

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [65]:
pokemon_ohe = pokemon[["Type 1","Type 2"]].stack().str.get_dummies().sum(level=0)
pokemon_ohe.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [56]:
pokemon_ohe['Total']=pokemon['Total']
pokemon_ohe.corr()["Total"].sort_values(ascending=False)

Total       1.000000
Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
Name: Total, dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [69]:
pokemon_ohe2 = pd.get_dummies(pokemon[["Type 1","Type 2"]])
pokemon_ohe2['Total']=pokemon['Total']
pokemon_ohe2.corr()["Total"].sort_values(ascending=False).head()

Total              1.000000
Type 1_Dragon      0.196532
Type 2_Fighting    0.138726
Type 2_Dragon      0.115240
Type 2_Ice         0.100870
Name: Total, dtype: float64