# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("./Orders.csv", engine = "python")
orders.head(100)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,536375,37370,2010,12,3,9,retro coffee mugs assorted,6,2010-12-01 09:32:00,1.06,17850,United Kingdom,6.36
71,71,536375,21871,2010,12,3,9,save the planet mug,6,2010-12-01 09:32:00,1.06,17850,United Kingdom,6.36
72,72,536375,21071,2010,12,3,9,vintage billboard drink me mug,6,2010-12-01 09:32:00,1.06,17850,United Kingdom,6.36
73,73,536375,21068,2010,12,3,9,vintage billboard love/hate mug,6,2010-12-01 09:32:00,1.06,17850,United Kingdom,6.36
74,74,536375,82483,2010,12,3,9,wood 2 drawer cabinet white finish,2,2010-12-01 09:32:00,4.95,17850,United Kingdom,9.90
75,75,536375,82486,2010,12,3,9,wood s/3 cabinet ant white finish,4,2010-12-01 09:32:00,6.95,17850,United Kingdom,27.80
76,76,536375,82482,2010,12,3,9,wooden picture frame white finish,6,2010-12-01 09:32:00,2.10,17850,United Kingdom,12.60
77,77,536375,82494L,2010,12,3,9,wooden frame antique white,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30
78,78,536375,84029G,2010,12,3,9,knitted union flag hot water bottle,6,2010-12-01 09:32:00,3.39,17850,United Kingdom,20.34
79,79,536375,84029E,2010,12,3,9,red woolly hottie white heart.,6,2010-12-01 09:32:00,3.39,17850,United Kingdom,20.34
80,80,536375,22752,2010,12,3,9,set 7 babushka nesting boxes,2,2010-12-01 09:32:00,7.65,17850,United Kingdom,15.30
81,81,536375,21730,2010,12,3,9,glass star frosted t-light holder,6,2010-12-01 09:32:00,4.25,17850,United Kingdom,25.50
82,82,536376,22114,2010,12,3,9,hot water bottle tea and sympathy,48,2010-12-01 09:32:00,3.45,15291,United Kingdom,165.60
83,83,536376,21733,2010,12,3,9,red hanging heart t-light holder,64,2010-12-01 09:32:00,2.55,15291,United Kingdom,163.20
84,84,536377,22632,2010,12,3,9,hand warmer red polka dot,6,2010-12-01 09:34:00,1.85,17850,United Kingdom,11.10
85,85,536377,22633,2010,12,3,9,hand warmer union jack,6,2010-12-01 09:34:00,1.85,17850,United Kingdom,11.10
86,86,536378,22386,2010,12,3,9,jumbo bag pink polkadot,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.50
87,87,536378,85099C,2010,12,3,9,jumbo bag baroque black white,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.50
88,88,536378,21033,2010,12,3,9,jumbo bag charlie and lola toys,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.50
89,89,536378,20723,2010,12,3,9,strawberry charlotte bag,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.50
90,90,536378,84997B,2010,12,3,9,red 3 piece retrospot cutlery set,12,2010-12-01 09:37:00,3.75,14688,United Kingdom,45.00
91,91,536378,84997C,2010,12,3,9,blue 3 piece polkadot cutlery set,6,2010-12-01 09:37:00,3.75,14688,United Kingdom,22.50
92,92,536378,21094,2010,12,3,9,set/6 red spotty paper plates,12,2010-12-01 09:37:00,0.85,14688,United Kingdom,10.20
93,93,536378,20725,2010,12,3,9,lunch bag red retrospot,10,2010-12-01 09:37:00,1.65,14688,United Kingdom,16.50
94,94,536378,21559,2010,12,3,9,strawberry lunch box with cutlery,6,2010-12-01 09:37:00,2.55,14688,United Kingdom,15.30
95,95,536378,22352,2010,12,3,9,lunch box with cutlery retrospot,6,2010-12-01 09:37:00,2.55,14688,United Kingdom,15.30
96,96,536378,21212,2010,12,3,9,pack of 72 retrospot cake cases,120,2010-12-01 09:37:00,0.42,14688,United Kingdom,50.40
97,97,536378,21975,2010,12,3,9,pack of 60 dinosaur cake cases,24,2010-12-01 09:37:00,0.55,14688,United Kingdom,13.20
98,98,536378,21977,2010,12,3,9,pack of 60 pink paisley cake cases,24,2010-12-01 09:37:00,0.55,14688,United Kingdom,13.20
99,99,536378,84991,2010,12,3,9,60 teatime fairy cake cases,24,2010-12-01 09:37:00,0.55,14688,United Kingdom,13.20

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [9]:
# your code here

#Sub Problem 1
order = orders.groupby(['CustomerID']).agg('sum').sort_values('amount_spent', ascending = False)

print("Sub Problem 1:")
display(order.head())


#Sub Problem 2
#VIP CUSTOMERS
VIP_C = order['amount_spent'].quantile(q=0.95)
VIP_customers = order[order['amount_spent']>=VIP_C]
VIP_customers = VIP_customers.reset_index()
VIP_customers = VIP_customers[['CustomerID', 'amount_spent']]
'''
#Preferred Customers
preferred_C = order['amount_spent'].quantile(a = range(0.75,0.95))
preferred_customers = order[order['amount_spent'] == preferred_C]
display(preferred_customers)
'''
print("Sub Problem 2:")
display(VIP_customers.head())

#Sub Problem 3

Sub Problem 1:

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
14646,544561120,1163267611,4182810,14191,6552,24488,197491,5176.09,280206.02
18102,138022684,243297801,866723,3746,1261,5587,64124,1940.92,259657.30
17450,92683919,188845149,677704,2292,842,4140,69993,1143.32,194550.79
16446,929130,1688629,6033,22,11,27,80997,4.98,168472.50
14911,1737367680,3196374868,11416155,46220,18930,68148,80515,26185.72,143825.06

Sub Problem 2:

   CustomerID  amount_spent
0       14646     280206.02
1       18102     259657.30
2       17450     194550.79
3       16446     168472.50
4       14911     143825.06

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:



## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code hera

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here