In [34]:
# https://api.mongodb.com/python/current/tutorial.html

from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [73]:
import pandas as pd
offices = db.companies.find()

In [74]:
offices_data = pd.DataFrame(offices)
offices_data.head()

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,...,925-924-9500,[],"[{'title': 'DHFH', 'is_past': True, 'provider'...","[{'is_past': True, 'title': 'CEO and Co-Founde...","[{'available_sizes': [[[150, 94], 'assets/imag...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]
1,52cdef7c4bab8bd675297d8c,None,[],,http://blogs.zoho.com/feed,http://blogs.zoho.com/,software,"[{'competitor': {'name': 'Empressr', 'permalin...",Fri May 25 19:30:28 UTC 2007,http://www.crunchbase.com/company/zoho,...,1-888-204-3539,"[{'name': 'Zoho Office Suite', 'permalink': 'z...",[],"[{'is_past': False, 'title': 'CEO and Founder'...",[],"zoho, officesuite, spreadsheet, writer, projec...",$0,zoho,Wed Oct 30 00:07:05 UTC 2013,"[{'embed_code': '<object width=""430"" height=""2..."
2,52cdef7c4bab8bd675297d8a,"{'price_amount': 30000000, 'price_currency_cod...",[],,http://digitalquarters.net/feed/,http://digitalquarters.net/,web,"[{'competitor': {'name': 'Wikia', 'permalink':...",2007-05-25 06:51:27,http://www.crunchbase.com/company/wetpaint,...,206.859.6300,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...",[],"[{'is_past': False, 'title': 'Co-Founder and V...","[{'available_sizes': [[[150, 86], 'assets/imag...","wiki, seattle, elowitz, media-industry, media-...",$39.8M,BachelrWetpaint,Sun Dec 08 07:15:44 UTC 2013,[]
3,52cdef7c4bab8bd675297d8f,None,[],None,http://feeds.feedburner.com/omnidrive,http://www.omnidrive.com/blog,network_hosting,"[{'competitor': {'name': 'Dropbox', 'permalink...",Sun May 27 03:25:32 UTC 2007,http://www.crunchbase.com/company/omnidrive,...,660-675-5052,"[{'name': 'Omnidrive', 'permalink': 'omnidrive'}]",[],"[{'is_past': True, 'title': 'Co-founder', 'per...",[],"storage, sharing, edit, online",$800k,Nomadesk,Tue Jul 02 22:48:04 UTC 2013,[]
4,52cdef7c4bab8bd675297d91,"{'price_amount': None, 'price_currency_code': ...",[],,http://blog.geni.com/index.rdf,http://blog.geni.com,web,"[{'competitor': {'name': 'Ancestry', 'permalin...",Thu May 31 19:52:34 UTC 2007,http://www.crunchbase.com/company/geni,...,,"[{'name': 'Geni', 'permalink': 'geni'}]",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"geni, geneology, social, family, genealogy",$16.5M,geni,Wed Oct 10 14:01:29 UTC 2012,"[{'embed_code': '<object width=""425"" height=""3..."

In [93]:
offices_cols = offices_data.drop(["_id", "acquisition", "acquisitions", "alias_list", "blog_feed_url", "blog_url", "competitions", "created_at", "crunchbase_url", "phone_number", "products", "providerships", "relationships", "screenshots", "tag_list", "twitter_username", "updated_at", "video_embeds", "overview", "permalink", "milestones", "ipo", "investments", "founded_month", "founded_day", "external_links", "email_address", "description", "deadpooled_url", "deadpooled_month", "deadpooled_day", "funding_rounds", "image", "homepage_url", "partners"], axis=1)

In [94]:
offices_cols

,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised
0,enterprise,2.0,1996.0,AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '...",$0
1,software,3.0,2005.0,Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '...",$0
2,web,1.0,2005.0,Wetpaint,47.0,"[{'description': '', 'address1': '710 - 2nd Av...",$39.8M
3,network_hosting,2008.0,2005.0,Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ...",$800k
4,web,NaN,2006.0,Geni,18.0,"[{'description': 'Headquarters', 'address1': '...",$16.5M
5,games_video,NaN,NaN,Flektor,NaN,"[{'description': None, 'address1': '8536 Natio...",$0
6,news,NaN,2004.0,Digg,60.0,"[{'description': None, 'address1': '135 Missis...",$45M
7,web,NaN,1999.0,Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",$0
8,web,NaN,1979.0,Fox Interactive Media,0.0,"[{'description': '', 'address1': '407 N Maple ...",$0
9,web,NaN,2003.0,Gizmoz,NaN,"[{'description': None, 'address1': None, 'addr...",$18.1M
10,news,NaN,2007.0,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
11,web,NaN,2002.0,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...",$18.5M
12,music,NaN,2006.0,Slacker,NaN,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M
13,social,NaN,2006.0,Twitter,1300.0,"[{'description': '', 'address1': '1355 Market ...",$1.16B
14,mobile,NaN,2005.0,Helio,NaN,"[{'description': None, 'address1': '10960 Wils...",$0
15,games_video,NaN,NaN,Lala,NaN,"[{'description': 'Lala Headquarters', 'address...",$44.2M
16,social,NaN,2007.0,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M
17,social,NaN,2004.0,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...",$2.43B
18,games_video,NaN,2006.0,Joost,0.0,"[{'description': '', 'address1': '100 5th Ave ...",$45M
19,games_video,2013.0,2007.0,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...",$13.2M
20,news,NaN,1986.0,CBS,NaN,"[{'description': None, 'address1': '', 'addres...",$0
21,web,NaN,1971.0,Viacom,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",$0
22,web,NaN,2002.0,Plaxo,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M
23,web,NaN,1995.0,eBay,15000.0,"[{'description': 'Headquarters', 'address1': '...",$6.7M
24,advertising,NaN,2002.0,Technorati,35.0,"[{'description': '', 'address1': '360 Post St....",$32.1M
25,search,NaN,2006.0,Powerset,60.0,"[{'description': None, 'address1': '475 Branna...",$22.5M
26,messaging,NaN,NaN,SpinVox,NaN,"[{'description': 'Corporate Headquarters', 'ad...",$106M
27,advertising,NaN,2004.0,AddThis,120.0,"[{'description': 'HQ - Virginia', 'address1': ...",$73M
28,advertising,NaN,2008.0,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M
29,games_video,2008.0,2007.0,Sparter,NaN,"[{'description': None, 'address1': None, 'addr...",$0
...,...,...,...,...,...,...,...
18771,None,NaN,2006.0,Cantimer,NaN,"[{'description': '', 'address1': '3700 Haven C...",$2M
18772,medical,NaN,2001.0,Cameron Health,NaN,"[{'description': 'Corporate Office', 'address1...",$121M
18773,cleantech,NaN,NaN,SolarPower Israel,NaN,"[{'description': '', 'address1': 'Yevulim Comp...",$1.1M
18774,semiconductor,NaN,2004.0,Celestial Semiconductor,NaN,"[{'description': '', 'address1': '2635 North 1...",$2M
18775,consulting,NaN,2009.0,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0
18776,biotech,NaN,NaN,InSound Medical,NaN,"[{'description': '', 'address1': '39660 Eureka...",$11M
18777,cleantech,NaN,1996.0,Purfresh,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M
18778,web,NaN,NaN,Zoomission,NaN,[],$0
18779,None,NaN,NaN,cruisecritic,NaN,[],$0
18780,software,NaN,2008.0,Constant Wave,NaN,[],$0
18781,None,NaN,NaN,Coloroot,NaN,[],$0
18782,web,NaN,2006.0,Eazeeloans,25.0,"[{'description': 'Apex Finance & Marketing', '...",$0
18783,web,NaN,2012.0,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k
18784,advertising,2012.0,NaN,Embedster,NaN,[],$0
18785,music,2009.0,2009.0,OfficialVirtualDJ,102.0,"[{'description': 'Created in London', 'address...",â‚¬25M
18786,software,NaN,2008.0,cotralis,1.0,[],$0
18787,software,NaN,2000.0,EnterSys Group,NaN,"[{'description': '', 'address1': '13280 NW Fre...",$0
18788,mobile,NaN,2009.0,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",â‚¬1.13M
18789,software,NaN,2004.0,Axon Solutions,NaN,"[{'description': '', 'address1': '15 Exchange ...",$0
18790,software,NaN,2003.0,Intergy,NaN,"[{'description': '', 'address1': '11875 Dublin...",$0
18791,other,NaN,NaN,Willdan Group,385.0,"[{'description': '', 'address1': '2401 East Ka...",$0
18792,software,NaN,1974.0,Contemporary Computer Services,NaN,"[{'description': '', 'address1': '200 Knickerb...",$0
18793,advertising,NaN,2009.0,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0
18794,software,NaN,1967.0,QSGI,164.0,"[{'description': '', 'address1': '400 Royal Pa...",$0
18795,None,NaN,NaN,Geekdive,NaN,[],$0
18796,software,NaN,2002.0,AfterLogic,NaN,"[{'description': 'Livingston', 'address1': 'P....",$0
18797,software,NaN,NaN,EnteGreat Solutions,NaN,"[{'description': '', 'address1': '', 'address2...",$0
18798,web,NaN,NaN,goBookmaker,NaN,[],$0
18799,enterprise,NaN,2000.0,EnteGreat,NaN,"[{'description': '', 'address1': '1900 Interna...",$0
18800,software,NaN,2009.0,Oriact,NaN,"[{'description': '', 'address1': 'LÃƒÂ¤rchenweg ...",$0

In [122]:
offices_no_nulls = offices_cols[offices_cols["deadpooled_year"].isna()==False].index
offices_clean = offices_cols.drop(offices_no_nulls, axis=0)
offices_clean[offices_clean["deadpooled_year"]!="NaN"].index

offices_cleann = offices_clean

In [123]:
offices_cleann

,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised
4,web,NaN,2006.0,Geni,18.0,"[{'description': 'Headquarters', 'address1': '...",$16.5M
5,games_video,NaN,NaN,Flektor,NaN,"[{'description': None, 'address1': '8536 Natio...",$0
6,news,NaN,2004.0,Digg,60.0,"[{'description': None, 'address1': '135 Missis...",$45M
7,web,NaN,1999.0,Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",$0
8,web,NaN,1979.0,Fox Interactive Media,0.0,"[{'description': '', 'address1': '407 N Maple ...",$0
9,web,NaN,2003.0,Gizmoz,NaN,"[{'description': None, 'address1': None, 'addr...",$18.1M
10,news,NaN,2007.0,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
11,web,NaN,2002.0,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...",$18.5M
12,music,NaN,2006.0,Slacker,NaN,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M
13,social,NaN,2006.0,Twitter,1300.0,"[{'description': '', 'address1': '1355 Market ...",$1.16B
14,mobile,NaN,2005.0,Helio,NaN,"[{'description': None, 'address1': '10960 Wils...",$0
15,games_video,NaN,NaN,Lala,NaN,"[{'description': 'Lala Headquarters', 'address...",$44.2M
16,social,NaN,2007.0,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M
17,social,NaN,2004.0,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...",$2.43B
18,games_video,NaN,2006.0,Joost,0.0,"[{'description': '', 'address1': '100 5th Ave ...",$45M
20,news,NaN,1986.0,CBS,NaN,"[{'description': None, 'address1': '', 'addres...",$0
21,web,NaN,1971.0,Viacom,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",$0
22,web,NaN,2002.0,Plaxo,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M
23,web,NaN,1995.0,eBay,15000.0,"[{'description': 'Headquarters', 'address1': '...",$6.7M
24,advertising,NaN,2002.0,Technorati,35.0,"[{'description': '', 'address1': '360 Post St....",$32.1M
25,search,NaN,2006.0,Powerset,60.0,"[{'description': None, 'address1': '475 Branna...",$22.5M
26,messaging,NaN,NaN,SpinVox,NaN,"[{'description': 'Corporate Headquarters', 'ad...",$106M
27,advertising,NaN,2004.0,AddThis,120.0,"[{'description': 'HQ - Virginia', 'address1': ...",$73M
28,advertising,NaN,2008.0,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M
30,web,NaN,2007.0,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M
31,games_video,NaN,2006.0,Kyte,40.0,"[{'description': None, 'address1': '442 Post S...",$23.4M
32,games_video,NaN,2004.0,Veoh,NaN,"[{'description': '', 'address1': '10180 Telesi...",$69.8M
34,mobile,NaN,2005.0,Jingle Networks,35.0,"[{'description': '', 'address1': '475 Park Ave...",$88.7M
35,web,NaN,NaN,Info,NaN,"[{'description': None, 'address1': '180 North ...",$8.4M
36,web,NaN,NaN,Gannett,NaN,"[{'description': None, 'address1': '7950 Jones...",$0
...,...,...,...,...,...,...,...
18769,web,NaN,NaN,Optemo,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",$0
18770,mobile,NaN,2009.0,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",$0
18771,None,NaN,2006.0,Cantimer,NaN,"[{'description': '', 'address1': '3700 Haven C...",$2M
18772,medical,NaN,2001.0,Cameron Health,NaN,"[{'description': 'Corporate Office', 'address1...",$121M
18773,cleantech,NaN,NaN,SolarPower Israel,NaN,"[{'description': '', 'address1': 'Yevulim Comp...",$1.1M
18774,semiconductor,NaN,2004.0,Celestial Semiconductor,NaN,"[{'description': '', 'address1': '2635 North 1...",$2M
18775,consulting,NaN,2009.0,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0
18776,biotech,NaN,NaN,InSound Medical,NaN,"[{'description': '', 'address1': '39660 Eureka...",$11M
18777,cleantech,NaN,1996.0,Purfresh,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M
18778,web,NaN,NaN,Zoomission,NaN,[],$0
18779,None,NaN,NaN,cruisecritic,NaN,[],$0
18780,software,NaN,2008.0,Constant Wave,NaN,[],$0
18781,None,NaN,NaN,Coloroot,NaN,[],$0
18782,web,NaN,2006.0,Eazeeloans,25.0,"[{'description': 'Apex Finance & Marketing', '...",$0
18783,web,NaN,2012.0,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k
18786,software,NaN,2008.0,cotralis,1.0,[],$0
18787,software,NaN,2000.0,EnterSys Group,NaN,"[{'description': '', 'address1': '13280 NW Fre...",$0
18788,mobile,NaN,2009.0,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",â‚¬1.13M
18789,software,NaN,2004.0,Axon Solutions,NaN,"[{'description': '', 'address1': '15 Exchange ...",$0
18790,software,NaN,2003.0,Intergy,NaN,"[{'description': '', 'address1': '11875 Dublin...",$0
18791,other,NaN,NaN,Willdan Group,385.0,"[{'description': '', 'address1': '2401 East Ka...",$0
18792,software,NaN,1974.0,Contemporary Computer Services,NaN,"[{'description': '', 'address1': '200 Knickerb...",$0
18793,advertising,NaN,2009.0,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0
18794,software,NaN,1967.0,QSGI,164.0,"[{'description': '', 'address1': '400 Royal Pa...",$0
18795,None,NaN,NaN,Geekdive,NaN,[],$0
18796,software,NaN,2002.0,AfterLogic,NaN,"[{'description': 'Livingston', 'address1': 'P....",$0
18797,software,NaN,NaN,EnteGreat Solutions,NaN,"[{'description': '', 'address1': '', 'address2...",$0
18798,web,NaN,NaN,goBookmaker,NaN,[],$0
18799,enterprise,NaN,2000.0,EnteGreat,NaN,"[{'description': '', 'address1': '1900 Interna...",$0
18800,software,NaN,2009.0,Oriact,NaN,"[{'description': '', 'address1': 'LÃƒÂ¤rchenweg ...",$0

In [139]:
offices_no_years = offices_cleann[offices_cleann["founded_year"].isna()==True].index
offices_reclean = offices_cleann.drop(offices_no_years, axis=0)
offices_reclean[offices_reclean["founded_year"]!="NaN"].index

offices_extraclean = offices_reclean

In [140]:
offices_extraclean

,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised
4,web,NaN,2006.0,Geni,18.0,"[{'description': 'Headquarters', 'address1': '...",$16.5M
6,news,NaN,2004.0,Digg,60.0,"[{'description': None, 'address1': '135 Missis...",$45M
7,web,NaN,1999.0,Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",$0
8,web,NaN,1979.0,Fox Interactive Media,0.0,"[{'description': '', 'address1': '407 N Maple ...",$0
9,web,NaN,2003.0,Gizmoz,NaN,"[{'description': None, 'address1': None, 'addr...",$18.1M
10,news,NaN,2007.0,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
11,web,NaN,2002.0,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...",$18.5M
12,music,NaN,2006.0,Slacker,NaN,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M
13,social,NaN,2006.0,Twitter,1300.0,"[{'description': '', 'address1': '1355 Market ...",$1.16B
14,mobile,NaN,2005.0,Helio,NaN,"[{'description': None, 'address1': '10960 Wils...",$0
16,social,NaN,2007.0,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M
17,social,NaN,2004.0,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...",$2.43B
18,games_video,NaN,2006.0,Joost,0.0,"[{'description': '', 'address1': '100 5th Ave ...",$45M
20,news,NaN,1986.0,CBS,NaN,"[{'description': None, 'address1': '', 'addres...",$0
21,web,NaN,1971.0,Viacom,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",$0
22,web,NaN,2002.0,Plaxo,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M
23,web,NaN,1995.0,eBay,15000.0,"[{'description': 'Headquarters', 'address1': '...",$6.7M
24,advertising,NaN,2002.0,Technorati,35.0,"[{'description': '', 'address1': '360 Post St....",$32.1M
25,search,NaN,2006.0,Powerset,60.0,"[{'description': None, 'address1': '475 Branna...",$22.5M
27,advertising,NaN,2004.0,AddThis,120.0,"[{'description': 'HQ - Virginia', 'address1': ...",$73M
28,advertising,NaN,2008.0,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M
30,web,NaN,2007.0,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M
31,games_video,NaN,2006.0,Kyte,40.0,"[{'description': None, 'address1': '442 Post S...",$23.4M
32,games_video,NaN,2004.0,Veoh,NaN,"[{'description': '', 'address1': '10180 Telesi...",$69.8M
34,mobile,NaN,2005.0,Jingle Networks,35.0,"[{'description': '', 'address1': '475 Park Ave...",$88.7M
40,security,NaN,2005.0,LifeLock,644.0,"[{'description': '', 'address1': '60 E. Rio Sa...",$178M
42,web,NaN,2002.0,Meetup,75.0,"[{'description': None, 'address1': '632 Broadw...",$18.3M
43,web,NaN,1994.0,Yahoo!,13600.0,"[{'description': None, 'address1': '701 First ...",$6.8M
44,finance,NaN,2006.0,Prosper,NaN,"[{'description': '', 'address1': '101 2nd Stre...",$120M
45,network_hosting,NaN,1984.0,Cisco,63000.0,"[{'description': 'Headquarters', 'address1': '...",$2.5M
...,...,...,...,...,...,...,...
18758,web,NaN,1998.0,Atlantic BT,30.0,"[{'description': 'Main Office', 'address1': '8...",$0
18759,web,NaN,2009.0,Gambolio,1.0,[],$0
18760,public_relations,NaN,2009.0,SEO Sumo,5.0,"[{'description': 'Main Office', 'address1': '6...",$0
18761,software,NaN,2006.0,ugandasoft,3.0,[],$0
18762,advertising,NaN,2009.0,InstantQ,3.0,"[{'description': '', 'address1': '', 'address2...",$0
18763,ecommerce,NaN,2006.0,Kicker Films,1.0,[],$0
18764,software,NaN,2000.0,Netrake,NaN,"[{'description': 'HQ', 'address1': '3000 Techn...",$0
18765,education,NaN,2011.0,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...",$19.4M
18766,enterprise,NaN,2004.0,NextLabs,100.0,"[{'description': 'Corporate Headquarters', 'ad...",$0
18768,web,NaN,2008.0,iGuiders,5.0,"[{'description': '', 'address1': '23811 Chagri...",$1.17M
18770,mobile,NaN,2009.0,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",$0
18771,None,NaN,2006.0,Cantimer,NaN,"[{'description': '', 'address1': '3700 Haven C...",$2M
18772,medical,NaN,2001.0,Cameron Health,NaN,"[{'description': 'Corporate Office', 'address1...",$121M
18774,semiconductor,NaN,2004.0,Celestial Semiconductor,NaN,"[{'description': '', 'address1': '2635 North 1...",$2M
18775,consulting,NaN,2009.0,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0
18777,cleantech,NaN,1996.0,Purfresh,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M
18780,software,NaN,2008.0,Constant Wave,NaN,[],$0
18782,web,NaN,2006.0,Eazeeloans,25.0,"[{'description': 'Apex Finance & Marketing', '...",$0
18783,web,NaN,2012.0,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k
18786,software,NaN,2008.0,cotralis,1.0,[],$0
18787,software,NaN,2000.0,EnterSys Group,NaN,"[{'description': '', 'address1': '13280 NW Fre...",$0
18788,mobile,NaN,2009.0,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",â‚¬1.13M
18789,software,NaN,2004.0,Axon Solutions,NaN,"[{'description': '', 'address1': '15 Exchange ...",$0
18790,software,NaN,2003.0,Intergy,NaN,"[{'description': '', 'address1': '11875 Dublin...",$0
18792,software,NaN,1974.0,Contemporary Computer Services,NaN,"[{'description': '', 'address1': '200 Knickerb...",$0
18793,advertising,NaN,2009.0,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0
18794,software,NaN,1967.0,QSGI,164.0,"[{'description': '', 'address1': '400 Royal Pa...",$0
18796,software,NaN,2002.0,AfterLogic,NaN,"[{'description': 'Livingston', 'address1': 'P....",$0
18799,enterprise,NaN,2000.0,EnteGreat,NaN,"[{'description': '', 'address1': '1900 Interna...",$0
18800,software,NaN,2009.0,Oriact,NaN,"[{'description': '', 'address1': 'LÃƒÂ¤rchenweg ...",$0

In [158]:
df=offices_extraclean[["name", "category_code", "deadpooled_year", "founded_year", "name", "number_of_employees", "total_money_raised", "offices"]]
df

,name,category_code,deadpooled_year,founded_year,name,number_of_employees,total_money_raised,offices
4,Geni,web,NaN,2006.0,Geni,18.0,$16.5M,"[{'description': 'Headquarters', 'address1': '..."
6,Digg,news,NaN,2004.0,Digg,60.0,$45M,"[{'description': None, 'address1': '135 Missis..."
7,Postini,web,NaN,1999.0,Postini,NaN,$0,"[{'description': None, 'address1': '959 Skyway..."
8,Fox Interactive Media,web,NaN,1979.0,Fox Interactive Media,0.0,$0,"[{'description': '', 'address1': '407 N Maple ..."
9,Gizmoz,web,NaN,2003.0,Gizmoz,NaN,$18.1M,"[{'description': None, 'address1': None, 'addr..."
10,Scribd,news,NaN,2007.0,Scribd,50.0,$25.8M,"[{'description': 'HQ', 'address1': '539 Bryant..."
11,StumbleUpon,web,NaN,2002.0,StumbleUpon,NaN,$18.5M,"[{'description': '', 'address1': '', 'address2..."
12,Slacker,music,NaN,2006.0,Slacker,NaN,$73.1M,"[{'description': '', 'address1': '16935 W. Ber..."
13,Twitter,social,NaN,2006.0,Twitter,1300.0,$1.16B,"[{'description': '', 'address1': '1355 Market ..."
14,Helio,mobile,NaN,2005.0,Helio,NaN,$0,"[{'description': None, 'address1': '10960 Wils..."
16,MeetMoi,social,NaN,2007.0,MeetMoi,15.0,$5.58M,"[{'description': None, 'address1': '', 'addres..."
17,Facebook,social,NaN,2004.0,Facebook,5299.0,$2.43B,"[{'description': 'Headquarters', 'address1': '..."
18,Joost,games_video,NaN,2006.0,Joost,0.0,$45M,"[{'description': '', 'address1': '100 5th Ave ..."
20,CBS,news,NaN,1986.0,CBS,NaN,$0,"[{'description': None, 'address1': '', 'addres..."
21,Viacom,web,NaN,1971.0,Viacom,NaN,$0,"[{'description': 'HQ', 'address1': '1515 Broad..."
22,Plaxo,web,NaN,2002.0,Plaxo,50.0,$28.3M,"[{'description': 'HQ', 'address1': '1050 Enter..."
23,eBay,web,NaN,1995.0,eBay,15000.0,$6.7M,"[{'description': 'Headquarters', 'address1': '..."
24,Technorati,advertising,NaN,2002.0,Technorati,35.0,$32.1M,"[{'description': '', 'address1': '360 Post St...."
25,Powerset,search,NaN,2006.0,Powerset,60.0,$22.5M,"[{'description': None, 'address1': '475 Branna..."
27,AddThis,advertising,NaN,2004.0,AddThis,120.0,$73M,"[{'description': 'HQ - Virginia', 'address1': ..."
28,OpenX,advertising,NaN,2008.0,OpenX,305.0,$75.5M,"[{'description': 'Headquarters', 'address1': '..."
30,Mahalo,web,NaN,2007.0,Mahalo,40.0,$21M,"[{'description': '', 'address1': '3525 Eastham..."
31,Kyte,games_video,NaN,2006.0,Kyte,40.0,$23.4M,"[{'description': None, 'address1': '442 Post S..."
32,Veoh,games_video,NaN,2004.0,Veoh,NaN,$69.8M,"[{'description': '', 'address1': '10180 Telesi..."
34,Jingle Networks,mobile,NaN,2005.0,Jingle Networks,35.0,$88.7M,"[{'description': '', 'address1': '475 Park Ave..."
40,LifeLock,security,NaN,2005.0,LifeLock,644.0,$178M,"[{'description': '', 'address1': '60 E. Rio Sa..."
42,Meetup,web,NaN,2002.0,Meetup,75.0,$18.3M,"[{'description': None, 'address1': '632 Broadw..."
43,Yahoo!,web,NaN,1994.0,Yahoo!,13600.0,$6.8M,"[{'description': None, 'address1': '701 First ..."
44,Prosper,finance,NaN,2006.0,Prosper,NaN,$120M,"[{'description': '', 'address1': '101 2nd Stre..."
45,Cisco,network_hosting,NaN,1984.0,Cisco,63000.0,$2.5M,"[{'description': 'Headquarters', 'address1': '..."
...,...,...,...,...,...,...,...,...
18758,Atlantic BT,web,NaN,1998.0,Atlantic BT,30.0,$0,"[{'description': 'Main Office', 'address1': '8..."
18759,Gambolio,web,NaN,2009.0,Gambolio,1.0,$0,[]
18760,SEO Sumo,public_relations,NaN,2009.0,SEO Sumo,5.0,$0,"[{'description': 'Main Office', 'address1': '6..."
18761,ugandasoft,software,NaN,2006.0,ugandasoft,3.0,$0,[]
18762,InstantQ,advertising,NaN,2009.0,InstantQ,3.0,$0,"[{'description': '', 'address1': '', 'address2..."
18763,Kicker Films,ecommerce,NaN,2006.0,Kicker Films,1.0,$0,[]
18764,Netrake,software,NaN,2000.0,Netrake,NaN,$0,"[{'description': 'HQ', 'address1': '3000 Techn..."
18765,Treehouse,education,NaN,2011.0,Treehouse,55.0,$19.4M,"[{'description': '', 'address1': '', 'address2..."
18766,NextLabs,enterprise,NaN,2004.0,NextLabs,100.0,$0,"[{'description': 'Corporate Headquarters', 'ad..."
18768,iGuiders,web,NaN,2008.0,iGuiders,5.0,$1.17M,"[{'description': '', 'address1': '23811 Chagri..."
18770,acrossair,mobile,NaN,2009.0,acrossair,6.0,$0,"[{'description': '198 High Holborn', 'address1..."
18771,Cantimer,None,NaN,2006.0,Cantimer,NaN,$2M,"[{'description': '', 'address1': '3700 Haven C..."
18772,Cameron Health,medical,NaN,2001.0,Cameron Health,NaN,$121M,"[{'description': 'Corporate Office', 'address1..."
18774,Celestial Semiconductor,semiconductor,NaN,2004.0,Celestial Semiconductor,NaN,$2M,"[{'description': '', 'address1': '2635 North 1..."
18775,MyChances,consulting,NaN,2009.0,MyChances,2.0,$0,"[{'description': 'Headquarters', 'address1': '..."
18777,Purfresh,cleantech,NaN,1996.0,Purfresh,NaN,$62.7M,"[{'description': 'HQ', 'address1': '1350 Willo..."
18780,Constant Wave,software,NaN,2008.0,Constant Wave,NaN,$0,[]
18782,Eazeeloans,web,NaN,2006.0,Eazeeloans,25.0,$0,"[{'description': 'Apex Finance & Marketing', '..."
18783,DocASAP,web,NaN,2012.0,DocASAP,7.0,$800k,"[{'description': '', 'address1': '115 5th Ave'..."
18786,cotralis,software,NaN,2008.0,cotralis,1.0,$0,[]
18787,EnterSys Group,software,NaN,2000.0,EnterSys Group,NaN,$0,"[{'description': '', 'address1': '13280 NW Fre..."
18788,Getyoo,mobile,NaN,2009.0,Getyoo,10.0,â‚¬1.13M,"[{'description': 'HQ', 'address1': 'Rue des Ta..."
18789,Axon Solutions,software,NaN,2004.0,Axon Solutions,NaN,$0,"[{'description': '', 'address1': '15 Exchange ..."
18790,Intergy,software,NaN,2003.0,Intergy,NaN,$0,"[{'description': '', 'address1': '11875 Dublin..."
18792,Contemporary Computer Services,software,NaN,1974.0,Contemporary Computer Services,NaN,$0,"[{'description': '', 'address1': '200 Knickerb..."
18793,Adhunk,advertising,NaN,2009.0,Adhunk,3.0,$0,"[{'description': 'Indian Office', 'address1': ..."
18794,QSGI,software,NaN,1967.0,QSGI,164.0,$0,"[{'description': '', 'address1': '400 Royal Pa..."
18796,AfterLogic,software,NaN,2002.0,AfterLogic,NaN,$0,"[{'description': 'Livingston', 'address1': 'P...."
18799,EnteGreat,enterprise,NaN,2000.0,EnteGreat,NaN,$0,"[{'description': '', 'address1': '1900 Interna..."
18800,Oriact,software,NaN,2009.0,Oriact,NaN,$0,"[{'description': '', 'address1': 'LÃƒÂ¤rchenweg ..."

In [163]:
def getOffices(data):
    data = data['offices']
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "totalOffices": len(data),
        "latitud": data[0]['latitude'],
        "longitud": data[0]['longitude'],
        "oficina_principal": principal
    }


all_offices = df[["offices"]].apply(getOffices, result_type="expand", axis=1)

IndexError: ('list index out of range', 'occurred at index 658')

In [134]:
offices_no_address = offices_extraclean.dropna(axis=0, subset=['latitud'])

KeyError: ['latitud']

In [133]:
offices_def

,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised
4,web,NaN,2006.0,Geni,18.0,"[{'description': 'Headquarters', 'address1': '...",$16.5M
6,news,NaN,2004.0,Digg,60.0,"[{'description': None, 'address1': '135 Missis...",$45M
7,web,NaN,1999.0,Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",$0
8,web,NaN,1979.0,Fox Interactive Media,0.0,"[{'description': '', 'address1': '407 N Maple ...",$0
9,web,NaN,2003.0,Gizmoz,NaN,"[{'description': None, 'address1': None, 'addr...",$18.1M
10,news,NaN,2007.0,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
11,web,NaN,2002.0,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...",$18.5M
12,music,NaN,2006.0,Slacker,NaN,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M
13,social,NaN,2006.0,Twitter,1300.0,"[{'description': '', 'address1': '1355 Market ...",$1.16B
14,mobile,NaN,2005.0,Helio,NaN,"[{'description': None, 'address1': '10960 Wils...",$0
16,social,NaN,2007.0,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M
17,social,NaN,2004.0,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...",$2.43B
18,games_video,NaN,2006.0,Joost,0.0,"[{'description': '', 'address1': '100 5th Ave ...",$45M
20,news,NaN,1986.0,CBS,NaN,"[{'description': None, 'address1': '', 'addres...",$0
21,web,NaN,1971.0,Viacom,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",$0
22,web,NaN,2002.0,Plaxo,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M
23,web,NaN,1995.0,eBay,15000.0,"[{'description': 'Headquarters', 'address1': '...",$6.7M
24,advertising,NaN,2002.0,Technorati,35.0,"[{'description': '', 'address1': '360 Post St....",$32.1M
25,search,NaN,2006.0,Powerset,60.0,"[{'description': None, 'address1': '475 Branna...",$22.5M
27,advertising,NaN,2004.0,AddThis,120.0,"[{'description': 'HQ - Virginia', 'address1': ...",$73M
28,advertising,NaN,2008.0,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M
30,web,NaN,2007.0,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M
31,games_video,NaN,2006.0,Kyte,40.0,"[{'description': None, 'address1': '442 Post S...",$23.4M
32,games_video,NaN,2004.0,Veoh,NaN,"[{'description': '', 'address1': '10180 Telesi...",$69.8M
34,mobile,NaN,2005.0,Jingle Networks,35.0,"[{'description': '', 'address1': '475 Park Ave...",$88.7M
40,security,NaN,2005.0,LifeLock,644.0,"[{'description': '', 'address1': '60 E. Rio Sa...",$178M
42,web,NaN,2002.0,Meetup,75.0,"[{'description': None, 'address1': '632 Broadw...",$18.3M
43,web,NaN,1994.0,Yahoo!,13600.0,"[{'description': None, 'address1': '701 First ...",$6.8M
44,finance,NaN,2006.0,Prosper,NaN,"[{'description': '', 'address1': '101 2nd Stre...",$120M
45,network_hosting,NaN,1984.0,Cisco,63000.0,"[{'description': 'Headquarters', 'address1': '...",$2.5M
...,...,...,...,...,...,...,...
18758,web,NaN,1998.0,Atlantic BT,30.0,"[{'description': 'Main Office', 'address1': '8...",$0
18759,web,NaN,2009.0,Gambolio,1.0,[],$0
18760,public_relations,NaN,2009.0,SEO Sumo,5.0,"[{'description': 'Main Office', 'address1': '6...",$0
18761,software,NaN,2006.0,ugandasoft,3.0,[],$0
18762,advertising,NaN,2009.0,InstantQ,3.0,"[{'description': '', 'address1': '', 'address2...",$0
18763,ecommerce,NaN,2006.0,Kicker Films,1.0,[],$0
18764,software,NaN,2000.0,Netrake,NaN,"[{'description': 'HQ', 'address1': '3000 Techn...",$0
18765,education,NaN,2011.0,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...",$19.4M
18766,enterprise,NaN,2004.0,NextLabs,100.0,"[{'description': 'Corporate Headquarters', 'ad...",$0
18768,web,NaN,2008.0,iGuiders,5.0,"[{'description': '', 'address1': '23811 Chagri...",$1.17M
18770,mobile,NaN,2009.0,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",$0
18771,None,NaN,2006.0,Cantimer,NaN,"[{'description': '', 'address1': '3700 Haven C...",$2M
18772,medical,NaN,2001.0,Cameron Health,NaN,"[{'description': 'Corporate Office', 'address1...",$121M
18774,semiconductor,NaN,2004.0,Celestial Semiconductor,NaN,"[{'description': '', 'address1': '2635 North 1...",$2M
18775,consulting,NaN,2009.0,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0
18777,cleantech,NaN,1996.0,Purfresh,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M
18780,software,NaN,2008.0,Constant Wave,NaN,[],$0
18782,web,NaN,2006.0,Eazeeloans,25.0,"[{'description': 'Apex Finance & Marketing', '...",$0
18783,web,NaN,2012.0,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k
18786,software,NaN,2008.0,cotralis,1.0,[],$0
18787,software,NaN,2000.0,EnterSys Group,NaN,"[{'description': '', 'address1': '13280 NW Fre...",$0
18788,mobile,NaN,2009.0,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",â‚¬1.13M
18789,software,NaN,2004.0,Axon Solutions,NaN,"[{'description': '', 'address1': '15 Exchange ...",$0
18790,software,NaN,2003.0,Intergy,NaN,"[{'description': '', 'address1': '11875 Dublin...",$0
18792,software,NaN,1974.0,Contemporary Computer Services,NaN,"[{'description': '', 'address1': '200 Knickerb...",$0
18793,advertising,NaN,2009.0,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0
18794,software,NaN,1967.0,QSGI,164.0,"[{'description': '', 'address1': '400 Royal Pa...",$0
18796,software,NaN,2002.0,AfterLogic,NaN,"[{'description': 'Livingston', 'address1': 'P....",$0
18799,enterprise,NaN,2000.0,EnteGreat,NaN,"[{'description': '', 'address1': '1900 Interna...",$0
18800,software,NaN,2009.0,Oriact,NaN,"[{'description': '', 'address1': 'LÃƒÂ¤rchenweg ...",$0

In [105]:
import requests as req

In [108]:
res = req.get("https://api.exchangeratesapi.io/latest?base=USD").json()